
<h2 mat-dialog-title>Add Order Status</h2>
<mat-dialog-content class="mat-typography">

  <div class="form-row pb-3 pt-3" col="col-12">
    <div class="col-3">
      <label for="status" class="col-form-label text-left">Status Name</label>
    </div>
    <div class="col-9">
      <input type="text" style="width: 100%; padding: 5px;">

    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" class="dialog1 button-color mr-2">Submit</button>
    <button mat-button mat-dialog-close class="dialog2">Cancel</button>
</mat-dialog-actions>
