mat-icon {
  font-size: 2.5rem !important;
}

/* .dropdown-menu-container {
  margin: -20px !important;
} */
/* .dropdown-menu-container .main-menu {
  margin: 0;
} */
.sub-menu-container {
  position: relative;
}
.menu-items {
  position: absolute;
  z-index: 10;
  top: 1px;
  right: 1.5rem;
  display: block;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 20px 0 20px 20px;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  width: 150px;
}
.menu-items .menu-item {
  margin: 0;
  padding: 0;
}
.menu-item .link {
  text-decoration: none;

  font-size: 13px;
  display: block;
  margin: 0;
  padding: 0.3rem 1.5rem;
}

.main-menu-btn:hover {
  cursor: pointer;
}

.menu-item .link:hover {
  background: #d1d1d1;
}
@media screen and (max-width: 575px) {
  .main-menu {
    margin-top: 8px;
  }
}
@media screen and (min-width: 576px) {
  .main-menu {
    margin-top: 8px;
  }
}
@media screen and (min-width: 992px) {
  .dropdown-menu-container .main-menu .main-menu-btn {
    padding: 1rem 1rem 0;
  }
  .sub-menu-container {
    position: relative;
    right: 17px;
  }
  .dropdown-menu-container .main-menu {
    margin: 0px;
  }
}
mat-icon {
  font-size: 2rem !important;
}
.user-detail {
  display: inline-grid;
  position: relative;
  margin-right: 30px;
  margin-left: 10px;
}
.user-name {
  color: #1b2950;
  margin-top: -10px;
  cursor: pointer;
}
.user-role {
  color: #67748e;
  cursor: pointer;
  font-size: 12px;
  justify-content: center;
  margin-left: 10px;
}
.navigation-bar {
  margin-top: 30px;
}
.user-info {
  float: center;
  align-items: center;
  display: inline-flex;
}
.user-info img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-top: -20px;
}
.admin-icon {
  color: black;
  width: 10px;
  height: 10px;
  margin-right: 25px;
}

.notification-item {
  display: block;
  margin-bottom: 5px;
}
.dropdown-content {
  width: 300px;
  max-height: 300px;
  position: absolute;
  top: 100%;
  overflow-y: auto;
  left: 0;
  background-color: white;
  color: black;
  padding: 10px;
  display: none;
}

.dropdown-content.show {
  display: block;
}
