
.page-heading {
// margin-top: 200px;

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    word-spacing: 0.1rem;
}
}
.add-button-rating {
background-color: rgb(245, 46, 46);
color: white;
border: none;
}
.add-button-rating:hover {
background-color: lightcoral;
color: white;
border: none;
}
.row{
  justify-content: center;
}



