
.page-heading {
// margin-top: 200px;

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    word-spacing: 0.1rem;
}
}
.add-button-rating {
background-color: rgb(245, 46, 46);
color: white;
border: none;
}
.add-button-rating:hover {
background-color: lightcoral;
color: white;
border: none;
}
.row{
  justify-content: center;
}
.rating-score{
  font-size: 18px;
  font-weight: 600;
}
.overall-rating{
  // border: 1px solid black;
  background-color: red;
  color: #ffffff;
  padding: 20px;
  margin-top:20px;
  margin-right: 10px;
  // margin-bottom: 50px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px;
}
.show-rating{
  display: flex;
  align-items: center;
  // margin-top: 20px;
  // margin-bottom: 20px;
  justify-content: end;
}
.user-rating{
  // border: 1px solid black;
  padding: 5px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(241, 91, 91);
  color: #ffffff;
}
.overall{
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-top: 5px;
}
.userType{
  // border: 1px solid black;
  padding-top:8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}
.plus-sign{
  border: 1px solid black;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}
.pros-cons{
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
// .rating-score-overall{
//   border: 1px solid grey;

// }
// .show-rating-overall{
//   border-top:    1px solid grey;
//   border-right:  1px solid grey;
//   border-bottom: 1px solid grey;
// }
.show-rating-overall{
  height: 580px;
  overflow-y: auto;
}
::ng-deep .p-card .p-card-content {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
::ng-deep .p-card{
  margin-bottom: 20px;
}

.row-container {
  display: flex;
  align-items: center;
}
.progress-bar-value{
  height: 30px;
  flex: 1;
  color: yellow;
  // background-color: orange;
}
.label-width {
  width: 80px;
  margin-right: 20px;
  margin-bottom: 0px;
}
::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: red;
}


::ng-deep.p-card .p-card-content {
  padding: 0px !important;
}
::ng-deep .p-dropdown .p-dropdown-label {
  background: red;
  border: red;
  color: white;
}
::ng-deep .p-dropdown .p-dropdown-trigger {
  background: red;
  color: white;

}
// ::ng-deep .p-dropdown {
//   background:red;
//   border: 1px solid red;
//   transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
// }
