<div class="container page-heading">
  <div class="row mb-2 mt-2">
    <div class="col-6">
      <h4>Review List</h4>
    </div>
    <div class="col-6 text-right">
      <span class="p-input-icon-right ml-5">
        <button
          pButton
          type="button"
          label=" + Add Review"
          class="add-button-review"
          [routerLink]="['/review/addreview']" [disabled]="!accessPermission.add"
        ></button>
      </span>
    </div>
  </div>
</div>

        <p-table id="reviewTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" [value]="reviewListValue"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
            styleClass="p-datatable-striped" [globalFilterFields]="['reviewSubject']">
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center p-0" >

                  <div class="input-container">
                    <img
                      src="../../../assets/images/search-white.svg"
                      class="input-container-img"
                    />
                    <input #search pInputText type="text" placeholder="Search..."
                    (input)="applyGlobalFilter($event, 'contains')"/>
                  </div>
                </div>
                <div>

                  <button pButton type="button" pTooltip="Pdf" class="custom-image" tooltipPosition="bottom" (click)=" exportPdf()"> <img src="../../../../assets/images/pdf.svg" alt="Button Image" /></button>

                  <button pButton type="button"   pTooltip="Excel" class="custom-image" tooltipPosition="bottom" (click)="exportExcel()"><img src="../../../../assets/images/excel.svg" alt="Button Image" /></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                  <th pSortableColumn="reviewSubject">
                    <div class="flex justify-content-between align-items-center head1">
                      Review Subject
                        <p-sortIcon field="reviewSubject"></p-sortIcon>

                    </div>
                </th>

                <th pSortableColumn="publishingsiteurl">
                  <div class="flex justify-content-between align-items-center head1">
                    Publishing Site Url
                      <p-sortIcon field="publishingsiteurl"></p-sortIcon>

                  </div>
              </th>

              <th pSortableColumn="rating">
                <div class="flex justify-content-between align-items-center head1">
                  Rating
                    <p-sortIcon field="rating"></p-sortIcon>

                </div>
            </th>

            <th pSortableColumn="status">
              <div class="flex justify-content-between align-items-center head1">
                Status
                  <p-sortIcon field="status"></p-sortIcon>

              </div>
          </th>

                    <th class="text-center">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-list let-i="rowIndex">
                <tr>

                    <td>{{list.reviewSubject}}</td>
                    <td>{{list.publishingsiteurl}}</td>
                    <td>{{list.rating}}</td>
                    <td>{{list.status}}</td>
                    <td>
                        <!-- <button pButton type="button" icon="pi pi-user-edit" pTooltip="Edit Review"
                            tooltipPosition="bottom" class="mr-2 p-button-secondary"
                            [routerLink]="['/review/editreview']" [queryParams]="{serialno:reviews.Sno}" [disabled]="!accessPermission.edit"></button>
                        <button pButton type="button" icon="pi pi-trash" pTooltip="Delete Review"
                            tooltipPosition="bottom" class="mr-2 p-button-danger"
                            (click)="openDialog(reviews.id)" [disabled]="!accessPermission.delete"></button> -->
                            <a pTooltip="Edit Review" tooltipPosition="bottom" style="margin-right: 15px; cursor: pointer;">
                              <img src="../../../../assets/images/edit.svg" [routerLink]="['/review/editreview']" [queryParams]="{serialno:list.Sno}"  alt="img">
                            </a>
                            <a pTooltip="Delete Review" tooltipPosition="bottom" (click)="openDialog(list.id)"
                              class="me-3 confirm-text" href="javascript:void(0);" >
                              <img src="../../../../assets/images/delete.svg" alt="img">
                            </a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger" colspan="12">No records to show</td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
                <div>
                    <button pButton icon="pi pi-file" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"
                        (click)="dt.exportCSV()"></button>
                    <button pButton icon="pi pi-file-excel" class="mr-2" pTooltip="Excel" tooltipPosition="bottom"
                        (click)="exportExcel()"></button>
                    <button pButton icon="pi pi-file-pdf" class="mr-2" pTooltip="Pdf" tooltipPosition="bottom"
                        (click)="exportPdf()"></button>
                </div>
            </ng-template> -->
        </p-table>

