<div class="container page-heading">
  <div class="row mb-2 mt-2">
    <div class="col-6">
      <h4>Review List</h4>
    </div>
    <div class="col-6 text-right">
      <span class="p-input-icon-right ml-5">
        <button
          pButton
          type="button"
          label=" + Add Review"
          class="add-button-review"
          [routerLink]="['/review/addreview']"

        ></button>
      </span>
    </div>
  </div>
</div>

        <p-table id="reviewTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" [value]="reviewListValue"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
            styleClass="p-datatable-striped" [globalFilterFields]="['reviewSubject','status','ratingCountReview','publishingSiteUrl']" >
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center p-0" >

                  <div class="input-container">
                    <img
                      src="../../../assets/images/search-white.svg"
                      class="input-container-img"
                    />
                    <input #search pInputText type="text" placeholder="Search..."
                    (input)="applyFilterGlobal($event, 'contains')"/>
                  </div>
                </div>
                <div>

                  <button pButton type="button" pTooltip="Pdf" class="custom-image" tooltipPosition="bottom" (click)=" exportPdf()"> <img src="../../../../assets/images/pdf.svg" alt="Button Image" /></button>

                  <button pButton type="button"   pTooltip="Excel" class="custom-image" tooltipPosition="bottom" (click)="exportExcel()"><img src="../../../../assets/images/excel.svg" alt="Button Image" /></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                  <th >
                    <div class="flex justify-content-between align-items-center head1">
                      S.No.


                    </div>
                </th>

                  <th pSortableColumn="reviewSubject">
                    <div class="flex justify-content-between align-items-center head1">
                      Review Subject
                        <p-sortIcon field="reviewSubject"></p-sortIcon>

                    </div>
                </th>

                <th pSortableColumn="publishingSiteUrl">
                  <div class="flex justify-content-between align-items-center head1">
                    Publishing Site Url
                      <p-sortIcon field="publishingSiteUrl"></p-sortIcon>

                  </div>
              </th>

              <th pSortableColumn="ratingCountReview">
                <div class="flex justify-content-between align-items-center head1">
                  Rating
                    <p-sortIcon field="ratingCountReview"></p-sortIcon>

                </div>
            </th>

            <th pSortableColumn="status">
              <div class="flex justify-content-between align-items-center head1">
                Status
                  <p-sortIcon field="status"></p-sortIcon>

              </div>
          </th>
                    <th class="text-center">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-list let-i="rowIndex">
                <tr>
                  <td>
                    <span class="p-column-title">Sr.no</span>
                    {{i+1}}
                </td>
                    <td>{{list.reviewSubject}}</td>
                    <td>{{list.publishingSiteUrl}}</td>
                    <!-- <td>{{list.rating}}</td> -->
                    <td>{{list.ratingCountReview}}</td>
                    <td>{{list.status}}</td>
                    <td>

                            <a pTooltip="Edit Review" tooltipPosition="bottom" style="margin-right: 15px; cursor: pointer;">
                              <img src="../../../../assets/images/edit.svg" [routerLink]="['/review/editreview']" [queryParams]="{id:list._id}"  alt="img">
                            </a>
                            <a pTooltip="Delete Review" tooltipPosition="bottom" (click)="openDialog(list)"
                              class="me-3 confirm-text" href="javascript:void(0);" >
                              <img src="../../../../assets/images/delete.svg" alt="img">
                            </a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger" colspan="12">No records to show</td>
                </tr>
            </ng-template>

        </p-table>

