<div class="container py-2 h-10 justify-content-center" >
  <app-content></app-content>
</div>
<div class="h-100 gradient-form">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-8">
        <div class="card rounded-5 text-black justify-content-center" style="background: white; width: 500px; margin-left:auto; margin-right: auto;">

          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body ">

                <div class="text-center">
                  <img class="pt-1 mb-2 pb-1" src="../../../assets/images/Acelucid-logo.png " alt="logo" style="width: 50px;">
                </div>
                <form [formGroup]="form" class="text-center">
                  <p>New password</p>


                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Password" type="password" formControlName="password" autocomplete="off" [type]="showPassword ? 'text' : 'password'">
                    <mat-icon matSuffix (click)="toggleShow()" style="color: #3d3d3e;">
                      {{ showPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <mat-error *ngIf="!form.get['password']?.errors?.required ">
                      Please enter a password
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" autocomplete="off" [type]="showPassword ? 'text' : 'password'">
                    <mat-icon matSuffix (click)="toggleShow()" style="color: #3d3d3e;">
                      {{ showPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <mat-error *ngIf="!form.get['confirmpassword']?.errors?.required ">
                      Please enter a confirm password
                    </mat-error>
                    <mat-error *ngIf="form.hasError('notSame')">Passwords do not match.</mat-error>

                  </mat-form-field>

                  <div class="text-center pt-1 mb-3 pb-1">
                    <button class="btn btn-block pt-1 mb-3" style="width: 100%; background-color: rgb(245, 46, 46); color: white;"
                    [routerLink]="['/login']">Reset Password</button>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






