.login-wrapper {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 55%;
  padding: 2.2rem;
  height: 55vh;
  border-radius: 1rem;

  form {
    margin: 2rem 0 1rem 0;

    .btn-block {
      margin-left: 25%;
      width: 25%;
      font-size: 1.2rem;
      padding: 0.25rem 0;
      letter-spacing: 1.5px;
    }
  }

  p {
    letter-spacing: 1px;
  }
}

mat-form-field {
  width: 100%;

  input {
    font-size: 1rem;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  fa-icon {
    font-size: 1.8rem;

    &.facebook {
      color: #4267B2;
    }

    &.twitter {
      color: #1DA1F2;
    }

    &.google {
      color: #EA4355;
    }
  }
}

::ng-deep{

  .mat-form-field-infix {
    border-top: none;
    padding: 1.3em 0 1.3em 0!important;
  }

  .mat-form-field-wrapper {
    margin-bottom: 1rem!important;
  }
}

.signup-container {
  margin-top: 3.2rem;
  text-align: center;

  p {
    font-size: 1rem;
  }
}
.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 90%;
  background-color: rgb(245, 46, 46);
  color: white;
  margin: 2px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.heading-with-line {
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #B8BCC9;
}

.heading-with-line:before,
.heading-with-line:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: black;
  top: 50%;
}

.heading-with-line:before {
  left: 0;
}

.heading-with-line:after {
  right: 0;
}
