
<div>
  <h5>Leave approve/disapprove</h5>
</div>
<p-table #dt [value]="leaveTrackerList" dataKey="id" [rowHover]="true"
[rows]="8" [showCurrentPageReport]="true" responsiveLayout="scroll"
[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[filterDelay]="0" [globalFilterFields]="['employeeFullName','email','department']" class="abc">
<ng-template pTemplate="caption">
    <div class="table-header">
    </div>
</ng-template>
<ng-template  pTemplate="header">
    <tr>
      <th> <div class="flex justify-content-between align-items-center head1">Sno.</div></th>

        <th pSortableColumn="leaveType">
            <div class="flex justify-content-between align-items-center head1">
                Leave Type
                <p-sortIcon field="leaveType"></p-sortIcon>

            </div>
        </th>
        <th pSortableColumn="appliedTo">
            <div class="flex justify-content-between align-items-center head1">
              Applied To
                <p-sortIcon field="appliedTo"></p-sortIcon>

            </div>
        </th>

        <th pSortableColumn="fromDate">
          <div class="flex justify-content-between align-items-center head1">
            From Date
              <p-sortIcon field="fromDate"></p-sortIcon>
          </div>
      </th>

      <th pSortableColumn="toDate">
        <div class="flex justify-content-between align-items-center head1">
          To Date
            <p-sortIcon field="toDate"></p-sortIcon>
        </div>
    </th>
    <th pSortableColumn="reason">
      <div class="flex justify-content-between align-items-center head1">
        Reason
          <p-sortIcon field="reason"></p-sortIcon>
      </div>
  </th>
    <th>
      <div class="flex justify-content-between align-items-center head1">
          status

      </div>
  </th>


    </tr>
</ng-template>
<ng-template pTemplate="body" let-List let-i="rowIndex">
    <tr class="p-selectable-row">
      <td>
        {{i+1}}
    </td>
        <td>
            <span class="p-column-title">leave Type</span>
            {{List.leaveType}}
        </td>
        <td>
          <span class="p-column-title">Applied To</span>
          {{ List.appliedTo }}
      </td>
        <td>
            <span class="p-column-title">fromDate </span>
            {{List.fromDate |date : "MM/dd/yyyy"}}
        </td>
          <td>
            <span class="p-column-title">To date </span>
            {{List.toDate |date : "MM/dd/yyyy"}}
        </td>
        <td>
          <span class="p-column-title">Reason </span>
          {{List.reason}}
      </td>
      <td>
        <span class="p-column-title">status </span>
        <button mat-raised-button [color]="List.status === 'approved'? 'accent' : 'primary'" class="mr-2" (click)="approve(List._id)" >
          {{ List.status === 'approved' ? List.status : 'approve' }}
        </button>

        <button mat-raised-button [color]="List.status === 'disapproved'? 'accent' : 'warn'" (click)="disapprove(List._id)" >
          {{ List.status === 'disapproved' ? List.status : 'disapprove' }}
        </button>
      </td>


      <!-- <td> -->
        <!-- <span class="p-column-title">status </span> -->
        <!-- <button mat-raised-button color="primary"  class="mr-2" (click)="approve(List._id)" [disabled]="List.approved"> -->

          <!-- <button mat-raised-button color="primary" [color]="List.isApproved ? 'accent' : 'primary'" class="mr-2" (click)="approve(List._id)" > -->
          <!-- {{ List.status ? 'Approved' : 'Approve' }} -->
        <!-- </button> -->

        <!-- <button mat-raised-button  mat-raised-button color="warn"  (click)="disapprove(List._id)" [disabled]="List.isDisapproved"> -->
          <!-- <button mat-raised-button  mat-raised-button [color]="List.isDisapproved ? 'accent' : 'warn'" class="mr-2" (click)="disapprove(List._id)" > -->
          <!-- {{ List.isDisapproved ? 'Disapproved' : 'Disapprove' }} -->
        <!-- </button> -->

    <!-- </td> -->
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="8">No customers found.</td>
    </tr>
</ng-template>
</p-table>
