:host::ng-deep {

    label.starlabel::after {
        content: "*";
        color: rgb(228, 28, 28);
    }
}

.form-control:active{
    border-color:#ff9f43 !important;
    box-shadow: none !important;
}

.form-control:focus{
    border-color:#ff9f43 !important;
    box-shadow:none !important;
}
.first-button{
    background-color: #ff9f43;
    color: #fff;
    outline: none !important;
    padding: 10px 20px 10px 20px;
}
.second-button{
    background-color: #424b52;
    color: #fff;
    outline: none !important;
    padding: 10px 20px 10px 20px;
}
.p-button{
    border: none !important;
}
