<div style="overflow-y: auto; height: 700px; margin-bottom: 100px;">
<form [formGroup]="featureForm">

    <div class="button-heading-container">
      <button
        class="mb-2 p-1 back-button"
        [routerLink]="['/cms/feature']"  pTooltip="Back"
        tooltipPosition="bottom"
      >
        <i class="material-icons">arrow_back</i>

      </button>
      <h5>&nbsp;{{title}}</h5>
    </div>
    <div class="card col-sm-12">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="h-100 mt-3">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="name" class="col-form-label text-left starlabel">Product Name</label>
                                    <input type="text" class="form-control" formControlName="productName">
                                    <div
                                        *ngIf="!featureForm.controls['productName'].valid && (featureForm.controls['productName'].touched || featureForm.controls['productName'].dirty)">
                                        <div [hidden]="!featureForm.controls['productName'].errors['required']"
                                            style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                            Product Name is required
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="hyperlink" class="col-form-label text-left starlabel">Modal</label>
                                    <input type="text" class="form-control" formControlName="productModel">
                                    <div
                                        *ngIf="!featureForm.controls['productModel'].valid && (featureForm.controls['productModel'].touched || featureForm.controls['productModel'].dirty)">
                                        <div [hidden]="!featureForm.controls['productModel'].errors['required']"
                                            style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                            Modal is required
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Name" class="col-form-label text-left starlabel">Price</label><br>
                                    <input type="text" class="form-control" formControlName="productPrice">
                                      <div
                                    *ngIf="(!featureForm.controls['productPrice'].valid) && (featureForm.controls['productPrice'].touched || featureForm.controls['productPrice'].dirty)">
                                    <div [hidden]="!featureForm.controls['productPrice'].errors['required']"
                                      style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                      productPrice is required
                                    </div>
                                    <div *ngIf="featureForm.controls['productPrice'].errors['pattern']"
                                      style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                      Please enter valid productPrice
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Name" class="col-form-label text-left starlabel">Quantity</label><br>
                                    <input type="text" class="form-control" formControlName="productQuantity">
                                    <div
                                    *ngIf="(!featureForm.controls['productQuantity'].valid) && (featureForm.controls['productQuantity'].touched || featureForm.controls['productQuantity'].dirty)">
                                    <div [hidden]="!featureForm.controls['productQuantity'].errors['required']"
                                      style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                      quantity is required
                                    </div>
                                    <div *ngIf="featureForm.controls['productQuantity'].errors['pattern']"
                                      style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                      Please enter valid quantity
                                    </div>
                                  </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label>
                                  <input type="checkbox" [(ngModel)]="isChecked" formControlName="isSpecialProduct">
                                  Product Special Offer
                                </label>


                              </div>
                          </div>

                        </div>


                        <div class="row gutters">
                            <div class="col-9 form-group pt-3">
                                <label for="imageUpload" class="col-form-label">Image</label>
                                <div class="d-flex justify-content-start h-75"><img class="img-content" [src]="Image" /></div>
                                <div id="imageUpload" class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    (change)="fileChangeEvent($event)" formControlName="imageProduct">
                                    <label class="custom-file-label" for="inputGroupFile01">Upload file</label>
                                </div>
                            </div>
                        </div>


                        <div class="row gutters">
                            <div class="col-11 form-group mt-5">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="row" style="margin-top: 15px;">
                                      <div class="text-center col-md-12">
                                        <h5>Image Croppier</h5>
                                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                          [aspectRatio]="4 / 3" [resizeToWidth]="400" format="png" (imageCropped)="imageCropped($event)"
                                          (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                          (loadImageFailed)="loadImageFailed()"></image-cropper>
                                      </div>

                                    </div>
                                  </div>
                                </div>

                              </div>
                        </div>
                        <!-- ------------------------------------- -->

                        <div class="row gutters mt-4">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                <div class="text-center">
                                    <button pButton type="button" id="submit" name="submit"
                                        class="p-button mr-4 first-button" (click)="submitForm()"
                                        [disabled]="!(featureForm.valid)">Save</button>
                                    <button pButton type="button" id="submit" name="submit" class="p-button second-button "
                                        [routerLink]="['/cms/feature']">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
