<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h4 class="header-text-title">
        Select Page
    </h4>
</div>
<mat-divider></mat-divider>

<div class="box">
    <mat-dialog-content>
        <form [formGroup]="selectForm">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="name" class="col-form-label text-left starlabel">Page Title</label>
                        <input type="pageTitle" class="form-control" placeholder="Enter URL" formControlName="pageTitle">
                        <div
                            *ngIf="(!selectForm.controls['pageTitle'].valid) && (selectForm.controls['pageTitle'].touched || selectForm.controls['pageTitle'].dirty)">
                            <div [hidden]="!selectForm.controls['pageTitle'].errors['required']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                Url is required
                            </div>
                            <div *ngIf="selectForm.controls['pageTitle'].errors['pattern']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                Please enter valid Url
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="name" class="col-form-label text-left starlabel">Page Link</label>
                        <input type="pageTitle" class="form-control" placeholder="Enter pageLink" formControlName="pageLink">
                        <div
                            *ngIf="(!selectForm.controls['pageLink'].valid) && (selectForm.controls['pageLink'].touched || selectForm.controls['pageLink'].dirty)">
                            <div [hidden]="!selectForm.controls['pageLink'].errors['required']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                              page pageLink is required
                            </div>
                            <div *ngIf="selectForm.controls['pageLink'].errors['pattern']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                Please enter valid pageLink
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" class="dialog1 mr-2 bt-1" (click)="submitForm()"  [disabled]="!(selectForm.valid)">Save</button>
        <button mat-button mat-dialog-close class="dialog1 bt-2">Cancel</button>
    </mat-dialog-actions>

</div>
