<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h4 class="header-text-title">
        Select Page
    </h4>
</div>
<mat-divider></mat-divider>

<div class="box">
    <mat-dialog-content>
        <form [formGroup]="selectForm">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="name" class="col-form-label text-left starlabel">Page Title</label>
                        <input type="url" class="form-control" placeholder="Enter URL" formControlName="url">
                        <div
                            *ngIf="(!selectForm.controls['url'].valid) && (selectForm.controls['url'].touched || selectForm.controls['url'].dirty)">
                            <div [hidden]="!selectForm.controls['url'].errors['required']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                Url is required
                            </div>
                            <div *ngIf="selectForm.controls['url'].errors['pattern']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                Please enter valid Url
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="name" class="col-form-label text-left starlabel">Page Link</label>
                        <input type="url" class="form-control" placeholder="Enter link" formControlName="link">
                        <div
                            *ngIf="(!selectForm.controls['link'].valid) && (selectForm.controls['llink'].touched || selectForm.controls['link'].dirty)">
                            <div [hidden]="!selectForm.controls['link'].errors['required']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                Url is required
                            </div>
                            <div *ngIf="selectForm.controls['link'].errors['pattern']"
                                style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                                Please enter valid link
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" class="dialog1 mr-2 bt-1">Save</button>
        <button mat-button mat-dialog-close class="dialog1 bt-2">Cancel</button>
    </mat-dialog-actions>

</div>