.page-heading {
  display: flex;
  justify-content: space-between;

}
.p-button {
  color: #ffffff;
  background: rgb(245, 46, 46);
  border: 1px solid rgb(245, 46, 46);
  padding: 0.429rem 1rem;
  font-size: 1rem;
  // transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}
.p-button:hover {
  background:  #f52e2e;
  color: #ffffff;
  border-color:  #f52e2e;
}
.card-header{
  background: cadetblue;
  color: white;
  line-height: 10px;

}
.leave-count{
  text-align:center;
  font-size: 30px;
  border: 1px solid lightcoral;
  padding: 5px 5px 5px 5px;
  margin: 30px 100px 30px 100px;
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
}
.page-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

th {
  background-color: #fff !important;
}

.head1 {
  color: black;
  text-align: center;
}

p-sortIcon {
  color: grey;
}

.btn {
  background-color: #fff;
  color: black;
}

.btn:hover {
  color: #fff;
  background-color: rgb(245, 46, 46);;
}

p-table {
  border: none !important;
  cursor: default !important;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.filter {
  color: rgb(245, 46, 46);
}

.theme{
  background-color: rgb(245, 46, 46) ;
  color: white;
  border: none;
}

.theme:hover{
  background-color: lightcoral !important;
  color: rgb(245, 46, 46);
  border: none;
}

td,th{
  border: none !important;
  border-bottom: 1px solid rgb(215, 198, 198) !important;
}
:host::ng-deep {
  .p-datatable .p-datatable-header,.p-paginator{
      background-color: #fff !important;
      border: none !important;
  }

  .p-datatable .p-sortable-column .p-sortable-column-icon{
      color: #848484;

  }

  .p-datatable .p-sortable-column.p-highlight:hover{
      background-color: none;
  }
  .p-datatable .p-sortable-column.p-highlight{
      background-color: none;
  }

  .p-datatable .p-sortable-column:focus {
       box-shadow:none
  }

  .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
      color: #848484;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
      background-color: rgb(228, 28, 28);
  }
  .p-datatable-hoverable-rows .p-selectable-row {
    cursor: default;
}
}

::ng-deep.custom-image {
background: none;
border: none;
}
::ng-deep.custom-image:hover {
background: none;
border: none;
}


.user-name-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.input-container {
  position: relative;
  border: 0.5px solid rgba(145, 158, 171, 0.32) !important;
  }
  .page-btn button.active {
    background-color: red; /* Set your desired color for the active button */
    color: white; /* Set the text color for the active button */
  }


  .cursor-default {
    cursor: default !important;
  }
