<div class="page-heading">
  <h1 class="header-text-title mt-2" style="margin-left: 1%;">Leave Year 2023</h1>
  <div class="page-btn">
    <button pButton type="button" [routerLink]="['/leaveMgmt/leave-apply']" class="me-1" label=" + Apply Leave" class="theme" ></button>
</div>
</div>
<div class="card">
    <div class="row m-3">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Casual Leave
          </div>
               <div class="leave-count" >
                 {{casualLeave}}/14
                 <!-- {{casualLeave?.value ?? 0}}/14 -->
                </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Earned Leave
          </div>
          <div class="leave-count">
            {{ earned}}/10
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Leave Without Pay
          </div>
          <div class="leave-count">
            {{leaveWithoutpay}}/0
          </div>
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Sick Leave
          </div>
          <div class="leave-count">
             {{sickLeave}}/8
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Work From Home
          </div>
          <div class="leave-count">
             {{workFromHome}}/5
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Comp. Off
          </div>
          <div class="leave-count">
             {{compOff}}/0
             <!-- {{compOff?.value ?? 0}}/0 -->
          </div>
        </div>
      </div>
    </div>

    <div class="m-3" style="border: 1px solid lightgrey;">
      <div class="page-heading mt-2">
        <h5 class="header-text-title" style="margin-left: 1%;">All Leaves</h5>
      <div class="page-btn">
        <button type="button" mat-raised-button color="primary" class="me-1" style="margin-right: 5px;"
          [class.active]="activeButton === 'all'" (click)="setActiveButton('all'); filterAllList()">All</button>
        <button type="button" mat-raised-button color="primary" class="me-1"
          [class.active]="activeButton === 'upcoming'" (click)="setActiveButton('upcoming'); filterUpcomingList()" style="margin-right: 5px;">Upcoming</button>
        <button type="button" mat-raised-button color="primary" class="me-1"
          [class.active]="activeButton === 'history'" (click)="setActiveButton('history'); filterHistoryList()">History</button>
      </div>



      </div>

      <p-table #dt [value]="filteredLeaveTrackerList" dataKey="id" [rowHover]="true"
      [rows]="3" [showCurrentPageReport]="true" responsiveLayout="scroll"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0" [globalFilterFields]="['leaveType','appliedTo','fromDate','toDate','reason']" class="abc cursor-default">
      <ng-template pTemplate="caption">
          <div class="table-header">
          </div>
      </ng-template>
      <ng-template  pTemplate="header">
          <tr>
            <th> <div class="flex justify-content-between align-items-center head1">Sno.</div></th>

              <th pSortableColumn="leaveType">
                  <div class="flex justify-content-between align-items-center head1">
                      Leave Type
                      <p-sortIcon field="leaveType"></p-sortIcon>

                  </div>
              </th>
              <th pSortableColumn="appliedTo">
                  <div class="flex justify-content-between align-items-center head1">
                    Applied To
                      <p-sortIcon field="appliedTo"></p-sortIcon>

                  </div>
              </th>

              <th pSortableColumn="fromDate">
                <div class="flex justify-content-between align-items-center head1">
                  From Date
                    <p-sortIcon field="fromDate"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="toDate">
              <div class="flex justify-content-between align-items-center head1">
                To Date
                  <p-sortIcon field="toDate"></p-sortIcon>
              </div>
          </th>
          <th pSortableColumn="reason">
            <div class="flex justify-content-between align-items-center head1">
              Reason
                <p-sortIcon field="reason"></p-sortIcon>
            </div>
        </th>
          <th>
            <div class="flex justify-content-between align-items-center head1">
                Status

            </div>
        </th>


          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-List let-i="rowIndex">
          <tr class="p-selectable-row">
            <td>
              {{i+1}}
          </td>
              <td>
                  <span class="p-column-title">leave Type</span>
                  {{List.leaveType}}
              </td>
              <td>
                <span class="p-column-title">Applied To</span>
                {{ List.appliedTo }}
            </td>
              <td>
                  <span class="p-column-title">fromDate </span>
                  {{List.fromDate |date : "MM/dd/yyyy"}}
              </td>
                <td>
                  <span class="p-column-title">To date </span>
                  {{List.toDate |date : "MM/dd/yyyy"}}
              </td>
              <td>
                <span class="p-column-title">Reason </span>
                {{List.reason}}
            </td>
            <td >
              <span class="p-column-title" >status </span>
             <!-- <p [ngStyle]="{'background-color': List.status === 'disapproved' ? 'orange' : 'blue', 'color': 'white', 'padding': '5px', 'border-radius':'5px'}">{{List.status}}</p> -->
             <p [ngStyle]="{'background-color': getColorByStatus(List.status), 'color': 'white', 'padding': '5px', 'border-radius': '5px'}">{{List.status}}</p>

          </td>

          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="8">No customers found.</td>
          </tr>
      </ng-template>
  </p-table>

  </div>

</div>
