<div class="page-heading">
  <h1 class="header-text-title mt-2" style="margin-left: 1%;">Leave Year 2023</h1>
  <div class="page-btn">
    <button pButton type="button" [routerLink]="['/leaveMgmt/leave-apply']" class="me-1" label=" + Apply Leave" class="theme" ></button>
</div>
</div>
<div class="card">



    <div class="row m-3">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Casual Leave
          </div>
               <div class="leave-count" >
                 50/50
                </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Earned Leave
          </div>
          <div class="leave-count">
            10/10
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Leave Without Pay
          </div>
          <div class="leave-count">
            0/0
          </div>
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Sick Leave
          </div>
          <div class="leave-count">
             8/8
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Work From Home
          </div>
          <div class="leave-count">
             5/5
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Comp. Off
          </div>
          <div class="leave-count">
             5/5
          </div>
        </div>
      </div>
    </div>

    <div class="m-3" style="border: 1px solid lightgrey;">
      <div class="page-heading mt-2">
        <h5 class="header-text-title" style="margin-left: 1%;">All Leaves & Holidays</h5>
        <div class="page-btn">
          <button type="button"  class="me-1"  class="theme" >Upcoming</button>
          <button type="button"  class="me-1" class="theme" >History</button>
      </div>
      </div>
      <div>
        list of holidays
      </div>

    </div>



</div>
