<div class="page-heading">
  <div class="row mb-2 mt-2">
    <div class="col-6">
      <h4>Reimbursement List</h4>
    </div>
    <div class="col-6 text-right">
      <span class="p-input-icon-right ml-5">
        <button
          pButton
          type="button"
          label=" + Add Reimbursement"
          class="add-button-rating"
          [routerLink]="['/travelexpense/add-travel']"
          *ngIf="!isHidden()"
        ></button>
      </span>
    </div>
  </div>
</div>
<p-table
  id="customerTable"
  #dt
  [columns]="cols"
  responsiveLayout="scroll"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [value]="travelData"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [responsive]="true"
  styleClass="p-datatable-striped"
  [globalFilterFields]="['employeeId', 'travelFrom', 'travelTo','journeyDate','returnDate','anythingShare','createdAt','updatedAt','allAssets','noticePeriod']"
>
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center p-0">
        <div class="input-container">
          <img
            src="../../../assets/images/search-white.svg"
            class="input-container-img"
          />
          <input
            #search
            pInputText
            type="text"
            placeholder="Search..."
            (input)="applyFilterGlobal($event, 'contains')"
          />
        </div>
      </div>
      <div>
        <button
          pButton
          type="button"
          pTooltip="Pdf"
          class="custom-image"
          tooltipPosition="bottom"
          (click)="exportPdf()"
        >
          <img src="../../../../assets/images/pdf.svg" alt="Button Image" />
        </button>

        <button
          pButton
          type="button"
          pTooltip="Excel"
          class="custom-image"
          tooltipPosition="bottom"
          (click)="exportExcel()"
        >
          <img src="../../../../assets/images/excel.svg" alt="Button Image" />
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="flex justify-content-between align-items-center head1">
          S.No.
        </div>
      </th>

      <th pSortableColumn="employeeId">
        <div class="flex justify-content-between align-items-center head1">
          Employee ID
          <p-sortIcon field="employeeId"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="travelFrom">
        <div class="flex justify-content-between align-items-center head1">
          Travel From
          <p-sortIcon field="travelFrom"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="travelTo">
        <div class="flex justify-content-between align-items-center head1">
          Travel To
          <p-sortIcon field="travelTo"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="journeyDate">
        <div class="flex justify-content-between align-items-center head1">
          Start Date
          <p-sortIcon field="journeyDate"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="returnDate">
        <div class="flex justify-content-between align-items-center head1">
          Return Date
          <p-sortIcon field="returnDate"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="addedBy">
        <div class="flex justify-content-between align-items-center head1">
          Added By
          <p-sortIcon field="addedBy"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="createdAt">
        <div class="flex justify-content-between align-items-center head1">
          Added Time
          <p-sortIcon field="createdAt"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="modifiedBy">
        <div class="flex justify-content-between align-items-center head1">
          Modified By
          <p-sortIcon field="modifiedBy"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="updatedAt">
        <div class="flex justify-content-between align-items-center head1">
          Modified Time
          <p-sortIcon field="updatedAt"></p-sortIcon>
        </div>
      </th>

      <th class="text-center">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-list let-i="rowIndex">
    <tr>
      <td>
        <span class="p-column-title">Sr.no</span>
        {{ i + 1 }}
      </td>
      <td>{{ list.employeeId }}</td>
      <td>{{ list.travelFrom }}</td>
      <td>{{ list.travelTo }}</td>
      <td>{{ list.journeyDate | date : "MM/dd/yyyy" }}</td>
      <td>{{ list.returnDate | date : "MM/dd/yyyy" }}</td>
      <td>{{ list.addedBy }}</td>
      <td>{{ list.createdAt | date : "MM/dd/yyyy"  }}</td>
      <td>{{ list.addedBy }}</td>
      <td>{{ list.updatedAt | date : "MM/dd/yyyy"  }}</td>


      <td>
        <div style="display: flex; align-items: center;">
        <!-- <a
          pTooltip="Edit Travel"
          tooltipPosition="bottom"
          style="margin-right: 15px; cursor: pointer"
          [routerLink]="['/travelexpense/edit-travel']"
          [queryParams]="{ id: list._id }"
          class="text-success"
        >
          Done
        </a> -->
        <!-- <button mat-raised-button

        tooltipPosition="bottom"
        style="margin-right: 15px; cursor: pointer"

        [class.btn-primary]="!isClicked"
        [class.btn-accent]="isClicked"
        class="btn btn-primary"
        (click)="approve(list._id)"
        [disabled]="isClicked"
      >
        Done
      </button> -->

      <button mat-raised-button
      tooltipPosition="bottom"
      style="margin-right: 15px; cursor: pointer"
      [class.btn-primary]="!list.isClicked"
      [class.btn-accent]="list.isClicked"
      class="btn"
      [disabled]="list.isClicked"
      (click)="approve(list._id)"
    >
      Done
    </button>


        <!-- <button mat-raised-button [color]="list.status === 'Approved'? 'accent' : 'primary'" class="mr-2" (click)="approve(list._id)" >
          {{ list.status === 'Approved' ? list.status : 'Approve' }}
        </button>
        <button mat-raised-button [color]="list.status === 'Disapproved'? 'accent' : 'warn'" (click)="disapprove(list._id)" >
          {{ list.status === 'Disapproved' ? list.status : 'Disapprove' }}
        </button> -->
        <!-- <a
          pTooltip="Delete Travel"
          tooltipPosition="bottom"
          (click)="openDialog(list)"
          class="me-3 confirm-text"
          href="javascript:void(0);"
          class="text-danger"
        >Pending

        </a> -->
        <button mat-raised-button

        tooltipPosition="bottom"
        style="margin-right: 15px; cursor: pointer"


        class="btn btn-danger"
      >
        Pending
      </button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="12" class="text-danger">No records to show</td>
    </tr>
  </ng-template>
</p-table>
<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
