<div class="">
    <div class="header flex-container header-color">
      <div class="nav-icon"><fa-icon [icon]="faBars" (click)="onToggleSidebar()"></fa-icon></div>
      <div class="logo-custom" style="margin-bottom: 15px;">
        <a routerLink="/dashboard">
          <img src="../../../assets/images/Acelucid-logo.png" width="50px" height="50px">
        </a>
      </div>
      <div class="dropdown-custom" >
        <app-dropdown-menu></app-dropdown-menu>
      </div>
    <app-sidenav #sidenav></app-sidenav>
</div>
