:host::ng-deep  {
    label.starlabel::after{
        content: "*";
        color: rgb(228, 28, 28);
    }
    .reviewer-dropdown{
        width: 100%;
    }
    .review-dropdown{
        width: 100%;
    }
    .status-dropdown{
        width: 100%;
    }
    .userType-dropdown{
        width: 100%;
    }
}
.button-heading-container {
  display: flex;
  align-items: center;
}
.back-button{
  background: rgb(228, 28, 28);
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 8px;
  width: 40px;

}
::ng-deep.back-button:hover {
  background-color: lightcoral !important;
}
::ng-deep.p-dropdown{
  border: 1px solid lightgray;
}
::ng-deep.p-rating .p-rating-icon.pi-star-fill {
  color: rgb(228, 28, 28) !important;
}

select {
  width: 100%;
  height: 41px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.label-width {
  width: 80px;
  margin-right: 20px;
  margin-bottom: 5px;
}
::ng-deep .p-dropdown .p-dropdown-label {
  background: white;
  // border: ;
  color: black;
}


.column-container {
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.column-item {
  width: 48%;
}
