
<form [formGroup]="pageForm">
    <div class="page-heading col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3" >
      <h1 class="header-text-title">
        Page Set Up
      </h1>
    </div>
    <div class="card col-sm-12">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="h-100 mt-3">
            <div class="card-body">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <!-- <div class="form-group">
                    <label for="name" class="col-form-label text-left starlabel">Select Page</label>
                    <input type="text" class="form-control"  (click)="openDialog()"  placeholder="Enter page" formControlName="page">

                    <div
                      *ngIf="(!pageForm.controls['page'].valid) && (pageForm.controls['page'].touched || pageForm.controls['page'].dirty)">
                      <div [hidden]="!pageForm.controls['page'].errors['required']"
                        style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                        page is required
                      </div>
                      <div *ngIf="pageForm.controls['page'].errors['pattern']"
                        style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                        Please enter valid page
                      </div>
                    </div>


                  </div> -->
                  <div class="form-group col-12">
                    <label for="page" class="col-form-label text-left starlabel">Select Page</label>
                    <p-dropdown [options]="pages" placeholder="Select a page" formControlName="page" (click)="openDialog()" ></p-dropdown>

                    <div *ngIf="(!pageForm.controls['page'].valid) && (pageForm.controls['page'].touched || pageForm.controls['page'].dirty)">
                      <div [hidden]="!pageForm.controls['page'].errors['required']" style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                        Page is required
                      </div>
                      <div *ngIf="pageForm.controls['page'].errors['pattern']" style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                        Please enter a valid page
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="hyperlink" class="col-form-label">Link</label>
                    <input type="text" class="form-control" placeholder="Enter Only link" formControlName="link">
                    <div
                    *ngIf="(!pageForm.controls['link'].valid) && (pageForm.controls['link'].touched || pageForm.controls['link'].dirty)">
                    <div [hidden]="!pageForm.controls['link'].errors['required']"
                      style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                      page is required
                    </div>

                  </div>
                  </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="comment" class="col-form-label text-left starlabel">Comment:</label>
                    <div class="col-12">

                      <ckeditor name="editor1" formControlName="description"></ckeditor>

                      <div
                      *ngIf="(!pageForm.controls['description'].valid) && (pageForm.controls['description'].touched || pageForm.controls['description'].dirty)">
                        <div [hidden]="!pageForm.controls['description'].errors['required']"
                          style="color: rgb(253, 122, 122); font-size:small; font-style: italic;">
                          Comment is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters mt-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                  <div class="text-center">
                    <button pButton type="button" id="submit" name="submit" class="first-button mr-4"
                      (click)="submitForm()" [disabled]="!(pageForm.valid)">Save</button>
                    <button pButton type="button" id="submit" name="submit" class="p-button second-button "
                      >Cancel</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
