.button-heading-container {
  display: flex;
  align-items: center;
}
.back-button {
  background: rgb(228, 28, 28);
  color: white;
  border: none;
  border-radius: 5px;
  // margin-left: 20px;
  width: 40px;
  margin-right: 10px;

}
::ng-deep.back-button:hover {
  background-color: lightcoral !important;
}
.card-title{
  background-color: cadetblue;
  color: whitesmoke;
  line-height: 30px;
  padding-left: 10px;
}

.text-input-field{
  margin: 10px 10px 20px 10px;
}
::ng-deep .p-dropdown{
  width: 100%;
}
td,th{
  border: none !important;
  border-bottom: 1px solid rgb(215, 198, 198) !important;
}
::ng-deep th {
  background-color: white !important;
  color: black !important;
  text-align: center;
}
label.starlabel::after{
  content: "*";
  color: rgb(228, 28, 28);
}
.custom-placeholder::placeholder {
  color: black;

}
.input-font{
  color: black !important;
}

