<div class="page-heading"></div>
<div class="button-heading-container ">

  <button class="mb-2 p-1 back-button " [routerLink]="['/usertypesettings/usertypelist']"><i class="material-icons">arrow_back</i>
  </button>
  <h5>&nbsp;UserType Details</h5>
</div>
   <div class="d-flex justify-content-center">
        <div class="card" style="width: 1000px; height: 500px;">
            <div class="p-5">
                <div class="card-body">
                    <div class="mt-2 mb-3 " style="padding-left: 70px;">
                        <h3>{{title}} User Type</h3>
                    </div>
                    <form [formGroup]="usertypeForm" class="d-flex justify-content-center">
                        <div class="w-100">
                            <div class="row mt-5">
                                <div class="form-group  col-12 d-flex justify-content-center">
                                    <label for="criteriaName" class=" col-2 col-form-label px-1 starlabel">Usertype</label>
                                    <div class="col-8"><input type="text" id="criteriaName" class="form-control" formControlName="userType">
                                        <!-- <div *ngIf="!usertypeForm.controls['userType'].valid && usertypeForm.controls['userType'].touched ">
                                            <div [hidden]="!usertypeForm.controls['userType'].errors['required']" style="font-size:smaller; color: rgb(253, 122, 122); font-style: italic; display:block">Usertype is required</div>
                                        </div> -->
                                        <div *ngIf="
                                        !usertypeForm.controls['userType'].valid &&
                                        (usertypeForm.controls['userType'].touched ||
                                        usertypeForm.controls['userType'].dirty)
                                      ">
                                        <div [hidden]="
                                          !usertypeForm.controls['userType'].errors[
                                            'required'
                                          ]
                                        " style="
                                          color: rgb(253, 122, 122);
                                          font-size: small;
                                          font-style: italic;
                                        ">
                                         User Type is required
                                        </div>
                                        <div *ngIf="
                                        usertypeForm.controls['userType'].errors[
                                            'pattern'
                                          ]
                                        " style="
                                          color: rgb(253, 122, 122);
                                          font-size: small;
                                          font-style: italic;
                                        ">
                                          User Type should be of string type
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="form-group  col-12 d-flex justify-content-center">
                                    <label for="status" class=" col-2 col-form-label starlabel">Status</label>
                                    <div class="col-8"><p-dropdown styleClass="statusDropdown" [options]="statusList"
                                            placeholder="Select status" formControlName="status"></p-dropdown>
                                            <div *ngIf="!usertypeForm.controls['status'].valid && usertypeForm.controls['status'].touched ">
                                                <div [hidden]="!usertypeForm.controls['status'].errors['required']" style="font-size:smaller; color: rgb(253, 122, 122); font-style: italic;">Status is required</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="form-group  col-12 d-flex justify-content-end" style="padding-right:100px">
                                  <button type="submit" style="background: rgb(228, 28, 28);border:none;" class="btn btn-info mr-4" (click)="submit()" [disabled]="!usertypeForm.valid">Submit</button>
                                  <button class="btn btn-info" style="background: #637381;border:none" [routerLink]="['/usertypesettings/usertypelist']">Cancel</button>
                                    <!-- <button type="submit" class="btn btn-info mr-3" (click)="submit()" [disabled]="!usertypeForm.valid">Submit</button>
                                    <button class="btn btn-info" [routerLink]="['/usertypesettings/usertypelist']">Cancel</button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ngx-ui-loader
    [fgsColor]="'#000000'"
    [fgsType]="fgsType"
  ></ngx-ui-loader>
