<!-- 

    <div class="page-heading">
        <h1 class="header-text-title" style="margin-left: 1%;">Featured Product</h1>
        <button pButton type="button" label="Add" class="p-button-success"
        [routerLink]="['/cms/add-featured-product']"></button>
      </div>
      <div class="card col-sm-12" style="border:none; margin-top: 10px;">
        <p-table id="customerTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
          [showCurrentPageReport]="true" [value]="coupanList"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true" [globalFilterFields]="['id', 'name',]" styleClass="p-datatable-striped">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">{{col.headers}}</th>
             
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-coupanList>
            <tr>
              
              <td>{{coupanList.id}}</td>
              <td>{{coupanList.image}}</td>
              <td>{{coupanList.productName}}</td>
              <td>{{coupanList.modal}}</td>
              <td>{{coupanList.price}}</td>
              <td>{{coupanList.quantity}}</td>
              <td>
                <div class="btn-grp" id="btn-grp">
                  
                  <button class="p-button-warning" pButton type="button" icon="pi pi-user-edit" pTooltip="Edit Product"
                  [queryParams]="{id:coupanList?.id}" tooltipPosition="bottom" [routerLink]="['/cms/add-featured-product']" style="margin-right:5px"
                 ></button>
                  <button class="p-button-danger" pButton type="button" icon="pi pi-trash" pTooltip="Delete Product"
                    tooltipPosition="bottom" style="margin-right:5px"  (click)="openDialog(coupanList)" ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
          
    
    </div> -->

    
    <div class="page-heading">
        <h1 class="header-text-title" style="margin-left: 1%;">Coupan List</h1>
        <div class="page-btn">
          <button pButton type="button" [routerLink]="['/marketing/add-coupan']" class="me-1" label=" + Add Coupan" class="theme" ></button>
      </div>
      </div>
    
      <p-table #dt [value]="coupanList" [(selection)]="selectedProduct" dataKey="id" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['coupanName','coupanCode']" class="abc">
        <ng-template pTemplate="caption" style="background-color: #fff !important; ">
            <div class="table-header">
                <span style="display: flex; justify-content: center; align-items: center;" class="p-input-icon-left ">
                  <img style="margin-right: 5px;" src="../assets/images/icons/filter.svg" class="filter" alt="img">
                    <input style="outline: none; border-radius: 5px; border: 1px solid rgb(195, 183, 183); padding: 6px;" type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
                </span>
    
                <div class="d-flex justify-content-end align-items-end">
                  <button style="background-color: #f4f4f4; border: none;" type="button" pButton class="mr-1" pTooltip="Pdf" (click)="exportPdf()" 
                    tooltipPosition="bottom"><img
                    src="../assets/images/icons/pdf.svg"></button>
                  <button type="button" style="background-color: #f4f4f4;; border: none;" pButton class="mr-1" pTooltip="excel" (click)="exportExcel()"
                    tooltipPosition="bottom" ><img
                    src="../assets/images/icons/excel.svg"></button>
                    <button type="button" style="background-color: #f4f4f4;; border: none;" pButton class=" mr-1" pTooltip="print"
                    tooltipPosition="bottom" ><img
                    src="../assets/images/icons/printer.svg"></button>
                </div>
            </div>
        </ng-template>
        <ng-template  pTemplate="header">
            <tr>
                <th style="width: 3rem;">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">
                  <div class="flex justify-content-between align-items-center head1">
                    Sr.no
                      <p-sortIcon field="id"></p-sortIcon>
                      
                  </div>
              </th>
                <th pSortableColumn="coupanName">
                    <div class="flex justify-content-between align-items-center head1">
                      Coupan Name
                        <p-sortIcon field="coupanName"></p-sortIcon>
                        
                    </div>
                </th>
                <th pSortableColumn="coupanCode">
                    <div class="flex justify-content-between align-items-center head1">
                        Coupan Code
                        <p-sortIcon field="coupanCode"></p-sortIcon>
                        
                    </div>
                </th>
    
              <th pSortableColumn="discount">
                <div class="flex justify-content-between align-items-center head1">
                    Discount
                    <p-sortIcon field="discount"></p-sortIcon>
                </div>
            </th>
    
              <th>
                <div class="flex justify-content-between align-items-center head1">
                    Start data
                </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center head1">
                  End data
              </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center head1">
                Status
            </div>
        </th>
            <th>
              <div class="flex justify-content-between align-items-center head1">
                  Action
              </div>
          </th>
    
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-coupanList>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="coupanList"></p-tableCheckbox>
                </td>
                <td>
                  <span class="p-column-title">Sr.no</span>
                  {{coupanList.id}}
              </td>
                <td>
                    <span class="p-column-title">Coupan Name</span>
                    {{coupanList.coupanName}}
                </td>
                <td>
                    <span class="p-column-title">Coupan Code</span>
                    
                    {{coupanList.coupanCode}}
                </td>
               
                <td>
                    <span class="p-column-title">Discount</span>
                    {{coupanList.discount}}
                </td>
    
                <td>
                  <span class="p-column-title">Start Date</span>
                  {{coupanList.startDate | date: 'dd/MM/yyyy'}}
              </td>
              
              <td>
                <span class="p-column-title">End Date</span>
                {{coupanList.endDate | date: 'dd/MM/yyyy'}}
            </td>
    
                <td>
                  <span class="p-column-title">Status</span>
                    {{coupanList.status}}
                </td>
    
                <td>
                  <a pTooltip="Edit Coupan" tooltipPosition="bottom" class="me-3" style="margin-right: 10px;">
                      <img src="../assets/images/icons/edit.svg" [queryParams]="{id:coupanList?.id}" [routerLink]="['/marketing/add-coupan']"  alt="img">
                  </a>
                  <a pTooltip="Delete Coupan" tooltipPosition="bottom" (click)="openDialog(coupanList)" class="me-3 confirm-text">
                      <img src="../assets/images/icons/delete.svg"  alt="img">
                  </a>
              </td>
               
             
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
    
    