:host::ng-deep{
  .tech-dropdown {
  width: 100%;
  border-color: #ced4da
  }


}
.page-heading{
  background-color: white !important;
}
.button-heading-container {
  display: flex;
  align-items: center;
}
.back-button{
  background: rgb(228, 28, 28);;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 100px;
  width: 40px;

}
::ng-deep.back-button:hover {
  background-color: lightcoral !important;
}
.page-heading {
  // margin-top: 200px;

  h1 {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.2px;
      word-spacing: 0.1rem;
  }
}
::ng-deep.p-dropdown{
  border: 1px solid lightgray;
  width: 100%;
}
input::file-selector-button {
  align-items: flex-end;

  color: black;

  // padding: ;
  border: thin solid grey;
  border-radius: 3px;
  background-color: #eaeaea;;
}
::ng-deep.p-dropdown{
  border: 1px solid lightgray;
  width: 100%;
}
:host::ng-deep  {
  .starlabel::after {
  content: "*";
  color: rgb(228, 28, 28);
}
}
.mat-error{
  font-size: small;
}
