:host::ng-deep{
    .statusDropdown{
        width: 100%;
    }
    label.starlabel::after{
        content: "*";
        color: rgb(228, 28, 28);
    }
}
::ng-deep.p-dropdown{
  border: 1px solid lightgray;
}
.button-heading-container {
  display: flex;
  align-items: center;
}
.back-button{
  background: rgb(228, 28, 28);
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  width: 40px;

}
::ng-deep.back-button:hover {
  background-color: lightcoral !important;
}
::ng-deep .p-dropdown .p-dropdown-label {
  background: white;
  // border: red;
  color: black;
}
::ng-deep.p-dropdown .p-dropdown-label.p-placeholder {
  color: black !important;
}

.custom-placeholder::placeholder {
  color: black;

}
