<div class="container page-heading">
  <div class="row mb-2 mt-2">
    <div class="col-6">
      <h4>Pending Order</h4>
    </div>
    <div class="col-6 text-right">
      <span class="p-input-icon-right ml-5">
        <!-- <button pButton type="button" label=" + Add Delivery" class="add-button-admin"
          [routerLink]="['/roleandpermission/adminform']"></button> -->
      </span>
    </div>

  </div>
</div>
<div class="card col-sm-12" style="border:none;">
  <p-table id="customerTable" #dt [value]="deliveredOrder" [columns]="cols" responsiveLayout="scroll"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
    [globalFilterFields]="['orderId', 'customerId', 'orderNo']" styleClass="p-datatable-striped">

    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center p-0" style="margin-left: 20px;">

          <div class="input-container">
            <img src="../../../../assets/images/search-white.svg" class="input-container-img" />
            <input #search pInputText type="text" placeholder="Search..."
              (input)="applyFilterGlobal($event, 'contains')">
          </div>
        </div>
        <div>
          <button pButton type="button" pTooltip="Pdf" class="custom-image" tooltipPosition="bottom" (click)=" exportPdf()"> <img src="../../../../assets/images/pdf.svg" alt="Button Image" /></button>

          <button pButton type="button"   pTooltip="Excel" class="custom-image" tooltipPosition="bottom" (click)="exportExcel()"><img src="../../../../assets/images/excel.svg" alt="Button Image" /></button>

          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="orderId">
          <div class="flex justify-content-between align-items-center head1">
            Order Id
              <p-sortIcon field="orderId"></p-sortIcon>

          </div>
      </th>
      <th pSortableColumn="email">
        <div class="flex justify-content-between align-items-center head1">
          Customer Name
            <p-sortIcon field="email"></p-sortIcon>

        </div>
    </th>

    <th pSortableColumn="mobileNo">
      <div class="flex justify-content-between align-items-center head1">
        Contact No
          <p-sortIcon field="mobileNo"></p-sortIcon>

      </div>
  </th>
  <th pSortableColumn="total">
    <div class="flex justify-content-between align-items-center head1">
      Total
        <p-sortIcon field="total"></p-sortIcon>

    </div>
</th>
<th pSortableColumn="orderDate">
  <div class="flex justify-content-between align-items-center head1">
    Order Date
      <p-sortIcon field="orderDate"></p-sortIcon>

  </div>
</th>
        <!-- <th *ngFor="let col of columns">{{col.headers}}</th> -->
        <!-- <th>Options</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-deliveredOrder>
      <tr>
        <td>{{deliveredOrder.orderId}}</td>
        <td>{{deliveredOrder.email}}</td>
        <td>{{deliveredOrder.mobileNo}}</td>
        <td>{{deliveredOrder.total}}</td>
        <td>{{deliveredOrder.orderDate}}</td>
        <!-- <td>

          <button class="p-button-danger" pButton type="button" icon="pi pi-trash" pTooltip="Delete Order"
            tooltipPosition="bottom" (click)="deleteOrder(deliveredOrder.orderId)" [disabled]="!deleteAccess"></button>
        </td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center text-danger font-weight-700" colspan="12">
          No Records Found.
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
</div>
