<div style="height: 700px; margin-bottom: 100px;">
  <div class="page-heading">
    <h1 class="header-text-title" style="margin-left: 1%;padding-top: 8px;">Profile List</h1>
    <div class="page-btn">
      <button pButton type="button" [routerLink]="['/leaveMgmt/add-profile']" class="me-1" label=" + Add Profile" class="theme" ></button>
  </div>
  </div>

  <p-table #dt [value]="profileList" [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true"
    [rows]="7" [showCurrentPageReport]="true" responsiveLayout="scroll"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" [globalFilterFields]="['employeeFullName','email','department']" class="abc">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="input-container">
              <img src="../../../assets/images/search-white.svg" class="input-container-img" />
              <input #search pInputText type="text" placeholder="Search..."
                (input)="applyFilterGlobal($event, 'contains')" />
            </div>

            <div class="d-flex justify-content-end align-items-end">
              <button style=" border: none;" type="button" pButton class="mr-1 custom-image " pTooltip="Pdf"  (click)="exportPdf()"
                tooltipPosition="bottom"><img
                src="../assets/images/icons/pdf.svg"></button>
              <button type="button" style=" border: none;" pButton class="mr-1 custom-image " pTooltip="excel"  (click)="exportExcel()"
                tooltipPosition="bottom" ><img
                src="../assets/images/icons/excel.svg"></button>
            </div>
        </div>
    </ng-template>
    <ng-template  pTemplate="header">
        <tr>
          <th> <div class="flex justify-content-between align-items-center head1">Sno.</div></th>

            <th pSortableColumn="employeeFullName">
                <div class="flex justify-content-between align-items-center head1">
                    Employee Name
                    <p-sortIcon field="employeeFullName"></p-sortIcon>

                </div>
            </th>
            <th pSortableColumn="email">
                <div class="flex justify-content-between align-items-center head1">
                    Email
                    <p-sortIcon field="email"></p-sortIcon>

                </div>
            </th>

            <th pSortableColumn="department">
              <div class="flex justify-content-between align-items-center head1">
                  Department
                  <p-sortIcon field="department"></p-sortIcon>
              </div>
          </th>

          <th>
            <div class="flex justify-content-between align-items-center head1">
                Image
            </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center head1">
              Action

          </div>
      </th>


        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-profileList let-i="rowIndex">
        <tr class="p-selectable-row">
          <td>
            {{i+1}}
        </td>
            <td>
                <span class="p-column-title">Employee Name</span>
                {{profileList.employeeFullName}}
            </td>
            <td>
              <span class="p-column-title">Email</span>
              {{ profileList.email }}
          </td>
            <td>
                <span class="p-column-title">Department </span>
                {{profileList.department}}
            </td>
              <td>
                <img class="user-name-img" [src]="profileList.image  || DefaultImage">
            </td>
            <!-- <td>
              <img class="user-name-img" src={{this.imgbucket}}{{profileList.image}}>
          </td> -->
            <td>
              <a pTooltip="Edit Profile" tooltipPosition="bottom" class="me-3" style="margin-right: 10px;">
                  <img src="../assets/images/icons/edit.svg" [queryParams]="{id:profileList?._id}" [routerLink]="['/leaveMgmt/edit-profile']"  alt="img">
              </a>
              <a pTooltip="Open Profile" tooltipPosition="bottom"
              class="me-3 mr-3" href="javascript:void(0);">
              <img src="../assets/images/icons/eye.svg" [queryParams]="{id:profileList?._id}" [routerLink]="['/leaveMgmt/user-profile']"  alt="img" width="25px" height="25px">
            </a>
              <a pTooltip="Delete Profile" tooltipPosition="bottom" (click)="openDialog(profileList)"  class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="../assets/images/icons/delete.svg" alt="img">
              </a>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
</div>
