
<div class="page-heading">
  <h1 class="header-text-title" style="margin-left: 1%;">Slider</h1>
  <div class="page-btn">
    <button pButton type="button" [routerLink]="['/cms/add-slider']" class="me-1" label=" + Add Slider" class="theme" ></button>
</div>
</div>

<p-table #dt [value]="sliderList" [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true"
  [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
  [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0" [globalFilterFields]="['url','description']" class="abc">
  <ng-template pTemplate="caption">
      <div class="table-header">
          <span style="display: flex; justify-content: center; align-items: center;" class="p-input-icon-left ">
            <img style="margin-right: 5px;" src="../assets/images/icons/filter.svg" class="filter" alt="img">
              <input style="outline: none; border-radius: 5px; border: 1px solid rgb(195, 183, 183); padding: 6px;" type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
          </span>

          <div class="d-flex justify-content-end align-items-end">
            <button style="background-color: #f4f4f4; border: none;" type="button" pButton class="mr-1" pTooltip="Pdf"  (click)="exportPdf()" 
              tooltipPosition="bottom"><img
              src="../assets/images/icons/pdf.svg"></button>
            <button type="button" style="background-color: #f4f4f4;; border: none;" pButton class="mr-1" pTooltip="excel"  (click)="exportExcel()"
              tooltipPosition="bottom" ><img
              src="../assets/images/icons/excel.svg"></button>
              <button type="button" style="background-color: #f4f4f4;; border: none;" pButton class=" mr-1" pTooltip="print"
              tooltipPosition="bottom" ><img
              src="../assets/images/icons/printer.svg"></button>
          </div>
      </div>
  </ng-template>
  <ng-template  pTemplate="header">
      <tr>
          <th style="width: 3rem;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="url">
              <div class="flex justify-content-between align-items-center head1">
                  Name
                  <p-sortIcon field="url"></p-sortIcon>
                  
              </div>
          </th>
          <th pSortableColumn="description">
              <div class="flex justify-content-between align-items-center head1">
                  Description
                  <p-sortIcon field="description"></p-sortIcon>
                  
              </div>
          </th>

          <th pSortableColumn="sortby">
            <div class="flex justify-content-between align-items-center head1">
                Sort by
                <p-sortIcon field="sortby"></p-sortIcon>
            </div>
        </th>

        <th>
          <div class="flex justify-content-between align-items-center head1">
              Image
          </div>
      </th>
      <th>
        <div class="flex justify-content-between align-items-center head1">
            Action
            
        </div>
    </th>

          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sliderList>
      <tr class="p-selectable-row">
          <td>
              <p-tableCheckbox [value]="sliderList"></p-tableCheckbox>
          </td>
          <td>
              <span class="p-column-title">Url</span>
              {{sliderList.url}}
          </td>
          <td>
              <span class="p-column-title">Description</span>
              
              {{sliderList.description}}
          </td>
         
          <td>
              <span class="p-column-title">Date</span>
              {{sliderList.sortby}}
          </td>
          <td>
              {{sliderList.image}}
          </td>
          <td>
            <a pTooltip="Edit Banner" tooltipPosition="bottom" class="me-3" style="margin-right: 10px;">
                <img src="../assets/images/icons/edit.svg" [queryParams]="{id:sliderList?.id}" [routerLink]="['/cms/add-slider']"  alt="img">
            </a>
            <a pTooltip="Delete Banner" tooltipPosition="bottom" (click)="openDialog(sliderList)"  class="me-3 confirm-text" href="javascript:void(0);">
                <img src="../assets/images/icons/delete.svg" alt="img">
            </a>
        </td>
         
       
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="8">No customers found.</td>
      </tr>
  </ng-template>
</p-table>
