<div class="button-heading-container">
  <button class="mb-2 back-button" [routerLink]="['/leaveMgmt/leave-tracker']">
    <i class="material-icons">arrow_back</i>
  </button>
  <h5>&nbsp;Leave Tracker</h5>
</div>

<div class="card pl-4 pr-4 pb-3 pt-4">



  <form [formGroup]="selectForm">
  <div class="row mb-4">
    <div class="col-6">
        <div class="row">
          <div class="col-4">
            <label class="starlabel">Leave Type</label></div>
            <div class="col-8 "><p-dropdown formControlName="leaveType" [options]="leaveType" id="role" placeholder="Leave Type"></p-dropdown>
              <div *ngIf="
              !selectForm.controls['leaveType'].valid &&
              (selectForm.controls['leaveType'].touched ||
              selectForm.controls['leaveType'].dirty)
            ">
              <div [hidden]="!selectForm.controls['leaveType'].errors['required']" style="
                color: rgb(253, 122, 122);
                font-size: small;
                font-style: italic;
              ">
                leave type is required
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <label class="starlabel">Applied To</label></div>
          <div class="col-8 "><p-dropdown  formControlName="appliedTo" [options]="appliedToType" id="role" placeholder="Applied To"></p-dropdown>
            <div *ngIf="
            !selectForm.controls['appliedTo'].valid &&
            (selectForm.controls['appliedTo'].touched ||
            selectForm.controls['appliedTo'].dirty)
          ">
            <div [hidden]="!selectForm.controls['appliedTo'].errors['required']" style="
              color: rgb(253, 122, 122);
              font-size: small;
              font-style: italic;
            ">
              applied to is required
            </div>
          </div>
        </div>
      </div>
  </div>

  </div>
  <div class="row mb-4">
    <div class="col-6">
        <div class="row">
          <div class="col-4">
            <label class="starlabel">From date</label></div>
            <div class="col-8"><input formControlName="fromDate" class="form-control custom-placeholder input-padding"  type="date" >
              <div *ngIf="
              !selectForm.controls['fromDate'].valid &&
              (selectForm.controls['fromDate'].touched ||
              selectForm.controls['fromDate'].dirty)
            ">
              <div [hidden]="!selectForm.controls['fromDate'].errors['required']" style="
                color: rgb(253, 122, 122);
                font-size: small;
                font-style: italic;
              ">
                from date is required
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <label class="starlabel">To date</label></div>
          <div class="col-8"><input formControlName="toDate" class="form-control custom-placeholder input-padding"  type="date" >
            <div *ngIf="
            !selectForm.controls['toDate'].valid &&
            (selectForm.controls['toDate'].touched ||
            selectForm.controls['toDate'].dirty)
          ">
            <div [hidden]="!selectForm.controls['toDate'].errors['required']" style="
              color: rgb(253, 122, 122);
              font-size: small;
              font-style: italic;
            ">
              to date is required
            </div>
          </div>
        </div>
      </div>
  </div>

  </div>
  <div class="row mb-4">
    <div class="col-6">
        <div class="row">
          <div class="col-4">
            <label class="starlabel">Contact Number</label></div>
            <div class="col-8"> <input  formControlName="contactNo" type="number" class="form-control custom-placeholder input-padding"  placeholder="Enter contact number " >
              <!-- <div *ngIf="
              !selectForm.controls['contactNo'].valid &&
              (selectForm.controls['contactNo'].touched ||
              selectForm.controls['contactNo'].dirty)
            ">
              <div [hidden]="!selectForm.controls['contactNo'].errors['required']" style="
                color: rgb(253, 122, 122);
                font-size: small;
                font-style: italic;
              ">
              contact number is required
              </div>

            </div> -->


            <!-- <div *ngIf="selectForm.controls['contactNo'].errors['required']" style="color: rgb(253, 122, 122); font-size: small; font-style: italic;">
              Please enter a 10-digit number.
            </div> -->

            <div
            *ngIf="
              !selectForm.controls['contactNo'].valid &&
              (selectForm.controls['contactNo'].touched ||
                selectForm.controls['contactNo'].dirty)
            "
          >
            <div
              [hidden]="
                !selectForm.controls['contactNo'].errors['required']
              "
              style="
                color: rgb(253, 122, 122);
                font-size: small;
                font-style: italic;
              "
            >
              contactNo is required
            </div>
            <div
              *ngIf="selectForm.controls['contactNo'].errors['pattern']"
              style="
                color: rgb(253, 122, 122);
                font-size: small;
                font-style: italic;
              "
            >
            Please enter a 10-digit number.
            </div>
          </div>

          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <label >Alt Contact Number</label></div>
          <div class="col-8"> <input formControlName="altConatctNo" type="number" class="form-control custom-placeholder input-padding" placeholder="Enter contact number " >
            <!-- <div
            *ngIf="selectForm.controls['altConatctNo'].errors['pattern']"
            style="
              color: rgb(253, 122, 122);
              font-size: small;
              font-style: italic;
            "
          >
          Please enter a 10-digit number.
          </div> -->
        </div>
      </div>
  </div>

  </div>
  <div class="row mb-4">

      <div class="col-2">
        <label class="starlabel">Reason</label></div>
        <div class="col-10">
      <ckeditor
        name="editor1"
        formControlName="reason"
      ></ckeditor>
      <div *ngIf="
      !selectForm.controls['reason'].valid &&
      (selectForm.controls['reason'].touched ||
      selectForm.controls['reason'].dirty)
    ">
      <div [hidden]="!selectForm.controls['reason'].errors['required']" style="
        color: rgb(253, 122, 122);
        font-size: small;
        font-style: italic;
      ">
      reason is required
      </div>
    </div>

    </div>

  </div>

  <div class="row mb-4">
    <div class="col-2">
      <label>Attachment</label>
    </div>
    <div class="col-10">
      <input type="file"  formControlName="image" class="form-control custom-placeholder input-padding" placeholder="attach file">
    </div>
  </div>


  <div class="row mb-5 mt-4">
    <div class="d-flex justify-content-end col-11 mt-4">
      <button type="submit" style="background: rgb(228, 28, 28);border:none" class="btn btn-info mr-3"
        (click)="submit()"  >Submit</button>
      <button class="btn btn-info" style="background: #637381;border:none"
        [routerLink]="['/leaveMgmt/leave-tracker']">Cancel</button>
    </div>
  </div>



</form>
</div>

