<div style="height: 700px; margin-bottom: 100px;">
  <div class="page-heading">	</div>
    <div class="button-heading-container " >

      <button class="mb-2 p-1 back-button " [routerLink]="['/product/productlist']"><i class="material-icons">arrow_back</i>
      </button>
      <h5>&nbsp;Product Details</h5>
    </div>


	<form [formGroup]="productForm">
		<div class="card col-sm-12" style="width: 1000px; margin: auto;">
					<div class="h-100 mt-5">
						<div class="card-body" style="width: 800px; margin: auto;">
              <h5 class="header-text-title">

            {{title}}
              </h5>


              <div class="row mt-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-row">
                    <div class="col-4">
                    <label for="name" class="starlabel">Product Name</label>
                    </div>

                  <div class="col-8" style="width: 100%;">
                    <input type="text" class="form-control" formControlName="productName" placeholder="Enter product name">
                    <mat-error *ngIf="productForm.get('productName')?.errors?.['required']  && productForm.get('productName').touched"><span>Product Name is required</span></mat-error>
                  </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-row">
                    <div class="col-4">
                    <label for="image" class="starlabel">Category Name</label>
                    </div>
                    <div class="col-8 p-0">
                      <p-dropdown [options]="catergoryName" id="role" formControlName="categoryName" placeholder="Select Category Type"></p-dropdown>
                      <div *ngIf="!productForm.controls['categoryName'].valid && (productForm.controls['categoryName'].touched || productForm.controls['productName'].dirty)">
                        <div [hidden]="!productForm.controls['categoryName'].errors['required']" style="color: rgb(253, 122, 122);">
                          Select a category type
                        </div>
                      </div>
                      <!-- <select class="form-control" placeholder="select type" formControlName="status">
                        <option value="NULL" selected>Select Type</option>
                        <option *ngFor="let option of CatergoryName" [value]="option.value" [disabled]="option.inactive">
                          {{ option.label }}

                        </option>
                      </select> -->
                      <mat-error *ngIf="productForm.get('status')?.errors?.['required'] && productForm.get('status').touched">Please select a type.</mat-error>
                    </div>
                </div>
              </div>

              </div>
              <div class="row mt-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-row">
                    <div class="col-4">
                    <label for="name">Model</label>
                    </div>
                    <div class="col-8">
                      <input type="text" class="form-control" formControlName="model" placeholder="enter model">
                  </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-row">
                    <div class="col-4">
                    <label for="image" class="starlabel">Our Price</label>
                    </div>
                    <div class="col-8">
                    <input type="text" class="form-control" formControlName="ourPrice" placeholder="enter our price">
                    <mat-error *ngIf="productForm.get('ourPrice')?.errors?.['required']  && productForm.get('ourPrice').touched"><span>our price is required</span></mat-error>
                  </div>
                </div>
              </div>
              </div>
              <div class="row mt-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-row">
                    <div class="col-4">
                    <label for="name"  class="starlabel">Market Price</label>
                    </div>
                    <div class="col-8">
                      <input type="text" class="form-control" formControlName="marketPrice" placeholder="enter market price">
                      <mat-error *ngIf="productForm.get('marketPrice')?.errors?.['required']  && productForm.get('marketPrice').touched"><span>Market price is required</span></mat-error>
                  </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-row">
                    <div class="col-4">
                    <label for="image">Product Weight</label>
                    </div>
                    <div class="col-8">
                    <input type="text" class="form-control" formControlName="productWeight" placeholder="enter product weight">
                  </div>
                </div>
              </div>
              </div>
              <div class="form-row pt-5">
                <div class="col-2">
                  <label for="reviewer" class="col-form-label text-left">Weight Type</label>
                </div>
                <div class="col-10" >
                  <p-dropdown [options]="weightType" id="role" formControlName="weightType" placeholder="Select weight Type"></p-dropdown>
                  <!-- <select class="form-control" placeholder="select type" formControlName="weightType">
                    <option value="null" selected>Select Type</option>
                    <option *ngFor="let option of weightType" [value]="option.value" [disabled]="option.inactive">
                      {{ option.label }}

                    </option>
                  </select> -->
                  <mat-error *ngIf="productForm.get('weightType')?.errors?.['required'] && productForm.get('weightType').touched">Please select a weight type.</mat-error>


                </div>
              </div>



              <div class="form-row pt-5">
                <div class="col-2">
                  <label for="name" class="starlabel">Product Image</label>
                </div>
                <div class="col-10" >
                  <div class='flex'>
                    <span class="card1">
                      <img *ngFor='let url of urls' let i = index [src]="url" height="200" style="margin-right: 20px;" >
                  </span>
                  <ng-container *ngIf="urls.length <3; else limitReached">

                    <span class="add" >
                        <label for="upload">
                          <span class="fa fa-plus">+</span>
                    <input type='file' (change)="onSelectFile($event)" multiple hidden id="upload" formControlName="productImage">
                    <mat-error *ngIf="productForm.get('productImage')?.errors?.['required'] && (productForm.get('productImage').touched)">
                      <span>Product image is required</span>
                    </mat-error>
                        </label>
                    </span>

               </ng-container>
               <ng-template #limitReached>
                <span class="limit-reached">Maximum 3 images can be choose.</span>
              </ng-template>
            </div>

                </div>
              </div>





              <div class="form-row col-12 pt-5">
                <div class="col-2" style="margin-top: 150px;">
                  <label for="comment" class=" col-form-label text-left" style="margin-top: auto;">Product Description</label>
                </div>
                <div class="col-10 mb-3" formControlName="productDescription">
                  <ckeditor ></ckeditor>
                </div>
              </div>


              <div class="form-row pt-5">
                <div class="col-2">
                  <label for="weight" class="col-form-label text-left">status</label>
                </div>
                <div class="col-10" style="cursor: pointer;">
                  <p-dropdown [options]="status" id="role" formControlName="status" placeholder="Select status Type"></p-dropdown>

                  <mat-error *ngIf="productForm.get('status')?.errors?.['required'] && productForm.get('status').touched">Please select status</mat-error>


                  <!-- <select class="form-control" placeholder="select type" formControlName="status">
                    <option value="null" selected>Select Type</option>
                    <option *ngFor="let option of Category" [value]="option.value" [disabled]="option.inactive">
                      {{ option.label }}

                    </option>
                  </select> -->

                </div>
              </div>


              <div class="d-flex justify-content-end col-12 mt-5 p-0 pr-3">
                <!-- <button type="submit" id="submit" name="submit" style="background: rgb(228, 28, 28);border:none; cursor:pointer" class="btn btn-info mr-3" (click)="submitForm()" [disabled]="!productForm.valid">Submit</button> -->
                <button type="submit" id="submit" name="submit" style="background: rgb(228, 28, 28);border:none; cursor:pointer" class="btn btn-info mr-3" (click)="openDialog()" [disabled]="!productForm.valid" >Submit</button>
                <button class="btn btn-info" id="submit" name="submit" style="background: #637381;border:none" [routerLink]="['/product/productlist']">Cancel</button>
            </div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		<!-- </div> -->
	</form>
  </div>
