label.starlabel::after{
    content: "*";
    color: rgb(228, 28, 28);
}
.custom-file-label {
    overflow: hidden;
    white-space: nowrap;
    // For nice text overflow we need also padding-right, problem is
    // the button width is not constant, but 8em should work for most cases
    padding-right: 6em;
    text-overflow: ellipsis;
}
.first-button{
    background-color: rgb(245, 46, 46);
    color: #fff;
    outline: none !important;
    padding: 10px 20px 10px 20px;
}

.second-button{
    background-color: #424b52;
    color: #fff;
    outline: none !important;
    padding: 10px 20px 10px 20px;
}
