

      <form [formGroup]="ordersForm" (ngSubmit)="submit()">
        <div class="card col-sm-12 mt-3" style="width: 1000px;height: 300px; margin: auto; border:none">
          <div style="width: 500px; margin: auto;  border-radius: 5px; padding-left: 10px;">
            <div >
              <h4 style="margin-left:140px; margin-bottom: 50px;">Create Order</h4>
            </div>

            <input type="text" id="mobileNo" class="form-control" formControlName="mobileNo" placeholder="Enter 10 digit Mobile Number">
            <div *ngIf="!ordersForm.controls['mobileNo'].valid && ordersForm.controls['mobileNo'].touched ">
              <div [hidden]="!ordersForm.controls['mobileNo'].errors['required']" style="font-size:smaller; color: rgb(253, 122, 122); font-style: italic;">Mobile Number is required</div>
          </div>


            <div class="d-flex justify-content-center col-11 mt-4 p-0">
              <button type="submit" style="background: rgb(228, 28, 28);border:none" class="btn btn-info mr-3" (click)="openDialog(order)" >Submit</button>
          </div>
          </div>
          </div>
          </form>


