.back-button {
  background: rgb(228, 28, 28);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  // margin-left: 20px;
  width: 40px;
}
::ng-deep.back-button:hover {
  background-color: lightcoral !important;
}

.button-heading-container {
  display: flex;
  align-items: center;
}
.leave-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leave-dropdown {
  margin-right: 10px;
}

.balance-leave {
  display: flex;
  align-items: center;

}
.leave-count{
  text-align:center;
  font-size: 18px;
  border: 1px solid lightcoral;
  padding: 4px;
  margin: 10px 20px 10px 20px;
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
}
label.starlabel::after{
  content: "*";
  color: rgb(228, 28, 28);
}

::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  width: 270px
}

::ng-deep div.leave-dropdown .p-dropdown .p-dropdown-label {
  width: 270px !important;
}


.custom-placeholder::placeholder {
  color: black;
}
.input-padding{
  width: 100%; padding: 6px 6px
}
.form-control{
  color: black;
}
::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  color: black;
}
::ng-deep div.col-8 .p-dropdown {
  width: 100%;
}
::ng-deep.ng-dirty.ng-invalid > .p-dropdown {
  border-color: lightgrey !important;
}
