::ng-deep .column-subhead {
    button:hover {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
    }

    button:focus {
        background-color: transparent;
        // color: rgb(176, 208, 250);
        border: none;
        box-shadow: none;
        outline: none;
    }

    button:focus:hover {
        // color:rgb(176, 208, 250);
        background-color: transparent;
    }

    button:hover {
        // color:rgb(176, 208, 250);
        background-color: transparent;
    }
    // button.p-column-filter-menu-button-active{
    //     background-color: transparent;
    //     color: #007ad9;
    //     // padding: 0;
    // }
    // button.p-column-filter-menu-button-active:hover{
    //     background-color: transparent;
    //     color: #007ad9;
    //     // padding: 0;
    // }
}
.add-button-lead {
  background-color: rgb(245, 46, 46);
  color: white;
  border: none;
}
.add-button-lead:hover {
  background-color: lightcoral;
  color: white;
  border: none;
}

.input-container {
  position: relative;
  border: 0.5px solid rgba(145, 158, 171, 0.32) !important;
}

.input-container-img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.input-container input[type="text"] {
  padding-left: 30px; /* adjust the padding to fit the image */
  font-size: 0.875rem;
}
.custom-image {
  background: none;
  border: none;
}
::ng-deep.custom-image:hover {
  background: none;
  border: none;
}
:host::ng-deep {
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: rgb(228, 28, 28);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
}
::ng-deep .p-paginator {
  background: white !important;
  border: none !important;
}
.head1 {
  color: black;
  text-align: center;
}
td,
th {
  border: none !important;
  border-bottom: 1px solid rgb(215, 198, 198) !important;
  background-color: white !important;
  color: black !important;
  justify-content: center;
}
::ng-deep.edit-delete-button{
  background-color: white!important;
  border: none !important;
}
::ng-deep .p-datatable .p-datatable-header {
  background: white;
  border: none;

}
.custom-image:hover{
  background: none;
  border: none;
}
.page-heading {
  // margin-top: 200px;

  h1 {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.2px;
      word-spacing: 0.1rem;
  }
}
