
    <div class="container page-heading">
      <div class="row mb-2 mt-2">
        <div class="col-6">
          <h4>Leads List</h4>
        </div>
        <div class="col-6 text-right">
          <span class="p-input-icon-right ml-5">
            <button
              pButton
              type="button"
              label=" + Add Leads"
              class="add-button-lead"
              [routerLink]="['/leads/leadcreate']" [disabled]="!accessPermission.add"
            ></button>
          </span>
        </div>
      </div>
    </div>
    <div >
        <p-table id="customerTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" [value]="leadlist"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
            [globalFilterFields]="['name']" styleClass="p-datatable">
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center p-0">
                  <img
                    style="margin-right: 5px"
                    src="../assets/images/icons/filter.svg"
                    class="filter"
                    alt="img"
                  />
                  <div class="input-container">
                    <img
                      src="../../../assets/images/search-white.svg"
                      class="input-container-img"
                    />
                    <input #search pInputText type="text" placeholder="Search..."
                    (input)="applyFilterGlobal($event, 'contains')"/>
                  </div>
                </div>
                <div>
                  <button pButton type="button" pTooltip="Pdf" class="custom-image" tooltipPosition="bottom" (click)=" exportPdf()"> <img src="../../../../assets/images/pdf.svg" alt="Button Image" /></button>
                  <button pButton type="button"   pTooltip="Excel" class="custom-image" tooltipPosition="bottom" (click)="exportExcel()"><img src="../../../../assets/images/excel.svg" alt="Button Image" /></button>
                  <button
                    pButton
                    pTooltip="print"
                    tooltipPosition="bottom"
                    class="custom-image"
                  >
                    <img
                      src="../../../../assets/images/printer.svg"
                      alt="Button Image"
                    />
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="Sno">
                  <div class="flex justify-content-between align-items-center head1">
                    Id
                  </div>
                </th>
                <th pSortableColumn="name">
                  <div class="flex justify-content-between align-items-center head1">
                    Name
                  </div>
                </th>
                <th pSortableColumn="email">
                  <div class="flex justify-content-between align-items-center head1">
                    Email
                  </div>
                </th>
                <th>
                  <div class="flex justify-content-between align-items-center head1">
                    Created By
                  </div>
                </th>
                <th>
                  <div class="d-flex justify-content-between align-items-center"> Technology
                    <p-columnFilter class="column-subhead" field="technology" matchMode="in" display="menu"
                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    <ng-template pTemplate="header">
                        <div class="px-3 pt-3 pb-0">
                            <span class="font-bold">Technology Picker</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="technologies" placeholder="Any" (onChange)="[filter($event.value),show($event.value)]" >
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                    <span class="ml-1">{{option}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter></div>
                </th>
                <th><div class="d-flex justify-content-between align-items-center">Lead Source <p-columnFilter class="column-subhead" field="source" matchMode="in" display="menu"
                  [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                  <ng-template pTemplate="header">
                      <div class="px-3 pt-3 pb-0">
                          <span class="font-bold">Source Picker</span>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect [ngModel]="value" [options]="sources" placeholder="Any" (onChange)="filter($event.value)"
                         >
                          <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                  <span class="ml-1">{{option}}</span>
                              </div>
                          </ng-template>
                      </p-multiSelect>
                  </ng-template>
              </p-columnFilter></div></th>
              <th><div class="d-flex justify-content-between align-items-center">Start Date<p-columnFilter class="column-subhead" type="date" field="startDate" display="menu"></p-columnFilter></div></th>
              <th><div class="d-flex justify-content-between align-items-center">Follow-up Date<p-columnFilter  class="column-subhead" type="date" field="followUpDate" display="menu"></p-columnFilter></div></th>
              <th class="text-center">Budget</th>
              <th class="text-center">Status </th>
              <th>
                <div class="d-flex justify-content-between align-items-center">Deal
                    <p-columnFilter class="column-subhead" field="deal" matchMode="in" display="menu"
                        [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Deal Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" [options]="deals" placeholder="Any" (onChange)="filter($event.value)"
                               >
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="ml-1">{{option}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
          <th class="text-center">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-i="rowIndex" let-leadsList>
                <tr>
                    <td>{{leadsList.id}}</td>
                    <td>{{leadsList.name}}</td>
                    <td>{{leadsList.email}}</td>
                    <td>{{leadsList.createdBy}}</td>
                    <td>{{leadsList.technology}}</td>
                    <td>{{leadsList.source}}</td>
                    <td>{{leadsList.startDate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{leadsList.followUpDate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{leadsList.budget}}</td>
                    <td>{{leadsList.status}}</td>
                    <td>{{leadsList.deal}}</td>
                    <td>
                        <div class="d-flex justify-content-between align-items-center ">

                               <a pTooltip="Edit Lead" tooltipPosition="bottom" style="margin-right: 15px; cursor: pointer;">
                                <img src="../../../../assets/images/edit.svg" [routerLink]="['/leads/leadedit']" [queryParams]="{leadName:leadsList.name}" alt="img">
                              </a>
                              <a pTooltip="View Lead" tooltipPosition="bottom" style="margin-right: 15px; cursor: pointer;">
                                <img src="../../../../assets/images/eye.svg" [routerLink]="['/leads/leadview']" [queryParams]="{leadName:leadsList.name}" alt="img">
                              </a>
                              <a pTooltip="Delete Lead" tooltipPosition="bottom" (click)="openDialog(leadsList)"
                                class="me-3 confirm-text" href="javascript:void(0);">
                                <img src="../../../../assets/images/delete.svg" alt="img">
                              </a>

                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger font-weight-700" colspan="12">
                        No Records Found.
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader> -->
    </div>
