.btn-grp{
  display: flex;
}
.page-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

th {
  background-color: #fff !important;
}

.head1 {
  color: black;
  text-align: center;
}

p-sortIcon {
  color: grey;
}

.btn {
  background-color: #fff;
  color: black;
}

.btn:hover {
  color: #fff;
  background-color: rgb(245, 46, 46);;
}

p-table {
  border: none !important;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.filter {
  color: rgb(245, 46, 46);
}



// .p-sortable-column, td {
//     border: none !important;
// }

td,th{
  border: none !important;
  border-bottom: 1px solid rgb(215, 198, 198) !important;
}
:host::ng-deep {
  .p-datatable .p-datatable-header,.p-paginator{
      background-color: #fff !important;
      border: none !important;
  }

  .p-datatable .p-sortable-column .p-sortable-column-icon{
      color: #848484;
  }

  .p-datatable .p-sortable-column.p-highlight:hover{
      background-color: none;
  }
  .p-datatable .p-sortable-column.p-highlight{
      background-color: none;
  }
 
  .p-datatable .p-sortable-column:focus {
       box-shadow:none
  }

  .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
      color: #848484;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
      background-color: rgb(228, 28, 28);
  }
}

