<div class="container page-heading">
  <div class="row mb-2 mt-2">
    <div class="col-6">
      <h4>Product Options</h4>
    </div>
    <div class="col-6 text-right">
      <span class="p-input-icon-right ml-5">
        <button
          pButton
          type="button"
          label=" + Add Product Option"
          class="add-button-category"
          [routerLink]="['/product/addProductOptionList']"
        ></button>
      </span>
    </div>
  </div>
</div>
<div class="card col-sm-12" style="border:none;">
  <p-table id="customerTable" #dt [columns]="" responsiveLayout="scroll" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [value]="ProductData"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
    [globalFilterFields]="['_id', 'name', 'price']" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center p-0">
          <div class="input-container">
            <img
              src="../../../assets/images/search-white.svg"
              class="input-container-img"
            />
            <input #search pInputText type="text" placeholder="Search..."
            (input)="applyFilterGlobal($event, 'contains')"/>
          </div>
        </div>
        <div>
          <button
            pButton
            type="button"
            pTooltip="Pdf"
            class="custom-image"
            tooltipPosition="bottom"
            (click)="exportPdf()"
          >
            <img src="../../../../assets/images/pdf.svg" alt="Button Image" />
          </button>
          <button
            pButton
            type="button"
            pTooltip="Excel"
            class="custom-image"
            tooltipPosition="bottom"
            (click)="exportExcel()"
          >
            <img src="../../../../assets/images/excel.svg" alt="Button Image" />
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns >
      <tr>
        <th>S.no</th>

        <th pSortableColumn="productName">
          <div class="flex justify-content-between align-items-center head1">
            Option Name
              <p-sortIcon field="productName"></p-sortIcon>

          </div>
      </th>
        <th>Action</th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-option let-i="rowIndex">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{option.productName}}</td>
      <td>
        <div class="btn-grp">
          <a
            pTooltip="Edit product-option"
            tooltipPosition="bottom"
            style="margin-right: 15px; cursor: pointer; margin-left: 70px"
          >
            <img
              src="../../../../assets/images/edit.svg"
              [routerLink]="['/product/editProductOptionList']"
              [queryParams]="{ id: option?._id }"
              alt="img"
            />
          </a>
        </div>
      </td>
    </tr>
  </ng-template>
    </p-table>




    </div>
