.page-heading{
  background-color: white !important;
}
.button-heading-container {
  display: flex;
  align-items: center;
}
.back-button{
  background: rgb(228, 28, 28);;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40px;

}
::ng-deep.back-button:hover {
  background-color: lightcoral !important;
}
label.starlabel::after{
  content: "*";
  color: rgb(228, 28, 28);
}
