<div style="overflow-y: auto; height: 700px; margin-bottom: 100px;">
<div class="page-heading"></div>
<div class="button-heading-container ">

  <button class="mb-2 p-1 back-button " [routerLink]="['/review/reviewlist']"><i class="material-icons">arrow_back</i>
  </button>
  <h5>&nbsp;Review Details</h5>
</div>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 1000px; height: 520px;">

    <div class="card-body" style="width:800px; margin: auto;">
      <div class="p-5">
        <div class="mt-2 mb-5">
          <h4>Add Reviews</h4>
        </div>
        <form [formGroup]="reviewForm">
          <!-- <div class="row mb-4"> -->
          <div class="form-row  mt-5">
            <div class="col-3 ">
              <label for="siteUrl" class=" text-center starlabel mb-4">Publishing Site Url</label>
            </div>
            <div class="col-9 ">
              <input type="text" class="form-control " id="siteUrl" formControlName="publishSiteUrl"
                placeholder="enter publishing url">
                <div
                *ngIf="
                  !reviewForm.controls['publishSiteUrl'].valid &&
                  (reviewForm.controls['publishSiteUrl'].touched ||
                  reviewForm.controls['publishSiteUrl'].dirty)
                "
              >
                <div
                  [hidden]="
                    !reviewForm.controls['publishSiteUrl'].errors[
                      'required'
                    ]
                  "
                  style="
                    color: rgb(253, 122, 122);
                    font-size: small;
                    font-style: italic;
                  "
                >
                  Url is required
                </div>
                <div
                  *ngIf="
                  reviewForm.controls['publishSiteUrl'].errors[
                      'pattern'
                    ]
                  "
                  style="
                    color: rgb(253, 122, 122);
                    font-size: small;
                    font-style: italic;
                  "
                >
                  Please enter valid Url
                </div>
              </div>

            </div>
          </div>

          <div class="form-row mt-5">
            <div class="col-3 ">
              <label for="reference" class="text-center starlabel mb-4">Reference Id</label>
            </div>
            <div class="col-9 ">
              <input type="text" class="form-control " id="reference" formControlName="referenceId"
                placeholder="enter refrence id">
              <div *ngIf="!reviewForm.controls['referenceId'].valid && reviewForm.controls['referenceId'].touched ">
                <div [hidden]="!reviewForm.controls['referenceId'].errors['required']"
                  style="font-size:smaller; color: rgb(253, 122, 122); font-style: italic;">ReferenceId is required
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->


          <div class="form-row  mt-5">
            <div class="col-3 ">
              <label for="reference" class="text-center starlabel mb-4">Status</label>
            </div>
            <div class="col-9 ">
              <p-dropdown styleClass="statusDropdown" [options]="statusList" placeholder="Select status"
                formControlName="reviewStatus"></p-dropdown>
              <div *ngIf="!reviewForm.controls['reviewStatus'].valid && reviewForm.controls['reviewStatus'].touched ">
                <div [hidden]="!reviewForm.controls['reviewStatus'].errors['required']"
                  style="font-size:smaller; color: rgb(253, 122, 122); font-style: italic;">Status is required</div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-4 mb-4">
            <button type="submit" style="background: rgb(228, 28, 28);border:none" class="btn btn-info mr-3"
              (click)="submitForm()" [disabled]="!(reviewForm.valid)">Submit</button>
            <button class="btn btn-info" style="background: #637381;border:none"
              [routerLink]="['/review/reviewlist']">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
