<div *ngIf="device === 'desktop'" class="sidebar-cont" [@toggleSidebar]="state">
  <div class="sidebar">
    <div class="profile-img">
      <img class="avatar mat-elevation-z8" [src]="image" />
    </div>

    <h4 class="name">{{ username }}</h4>

    <mat-divider></mat-divider>

    <p-panelMenu
      [model]="items"
      [style]="{
        width: '230px',
        'margin-bottom': '20px',
        'margin-left': '10px',
        'margin-right': '10px',
        'overflow-y': 'auto',
        height: '550px'
      }"
      [multiple]="false"
      (click) = "activeMenu($event)"
    ></p-panelMenu>
  </div>
</div>
<div *ngIf="device === 'mobile'" class="sidebar-cont" [@mToggleSidebar]="state">
  <div class="sidebar">
    <div class="profile-img">
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />
    </div>

    <h4 class="name">{{ username }}</h4>

    <mat-divider></mat-divider>
    <p-panelMenu [model]="items" [style]="{ width: '230px' }"></p-panelMenu>
  </div>
</div>
