@import "~primeicons/primeicons.css";

:host {
  ::ng-deep {
    mat-divider {
      width: 85%;
      margin: auto;
      border-top-width: 0.13rem !important;
      border-top-color: rgba(255, 255, 255, 0.4) !important;
    }

    .p-panelmenu .p-panelmenu-header > a {
      padding: 0.857rem 1rem;
      border: none;
      color: #67748e;
      background: none;
      font-weight: 400;
      transition: background-color 0.2s, box-shadow 0.2s;
    }

    .p-panelmenu .p-panelmenu-header > a:hover {
      background-color: #ff2800 !important;
      color: white !important;
      border: none !important;
    }

    .p-panelmenu .p-panelmenu-header.p-highlight > a {
      background-color: lightcoral !important;
      color: white !important;
      border: none !important;
      padding: 0.857rem 1rem;
      border: none;
      font-weight: 400;
      transition: background-color 0.2s, box-shadow 0.2s;
    }

    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:hover {
      background-color: lightcoral !important;
      color: red !important;
    }

    .p-panelmenu
      .p-panelmenu-content
      .p-submenu-list:not(.p-panelmenu-root-submenu) {
      background-color: white !important;
      border: none !important;
      font-weight: 400;
    }

    .p-panelmenu .p-panelmenu-content {
      border: none;
      padding-left: 25px;
      color: #67748e;
      background-color: white;
    }

    .p-panelmenu
      .p-panelmenu-content
      .p-menuitem
      .p-menuitem-link
      .p-menuitem-icon {
      color: black;
    }
    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
      outline: none;
      box-shadow: none;
      background-color: rgb(238, 162, 162) !important;
    }
    .pi-fw {
      color: #67748e;
      padding-left: 5px;
    }

    .p-menuitem.active {
      background-color: rgb(238, 155, 155);
    }
  }
}

.sidebar-cont {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 50px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background: #fff;
  padding: 0;
  box-shadow: 3px 15px 10px #707070;
  transition: 300ms ease-in-out;
  // background-color: rgb(245, 46, 46)
  background-color: white;
  color: #67748e;
}
.sidebar-cont::-webkit-scrollbar {
  display: none;
}

.sidebar-cont .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name,
  .designation {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    // color: #fff;
    color: #67748e;
  }
}

:host::ng-deep {
  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link :hover {
    color: red !important;
  }

  .pi-chevron-right:after {
    content: "\e94a" !important;
    display: end !important;
  }
  .pi-chevron-right:after {
    content: "\e94a" !important;
    display: none !important;
  }
}

:host::ng-deep {
  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link :hover {
    color: red !important;
  }

  .p-panelmenu
    .p-panelmenu-content
    .p-menuitem
    .p-menuitem-link:not(.p-disabled):hover {
    background: red;
  }

  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
  }

  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
    outline: 0 none;
    color: orange !important;
    text-decoration-color: aqua !important;
  }
}

:host::ng-deep {
  .p-submenu .p-submenu-item.active > a {
    color: green !important; /* Replace with your desired color */
    font-style: italic;
  }
}

.active-item {
  background-color: green;
  color: white;
}
