<div class="page-heading">
  <div class="row mb-2 mt-2">
    <div class="col-6">
      <h4>Exit List</h4>
    </div>
    <div class="col-6 text-right">
      <span class="p-input-icon-right ml-5">
        <button
          pButton
          type="button"
          label=" + Add Exit"
          class="add-button-rating"
          [routerLink]="['/exitmgmt/add-exit']"
        ></button>
      </span>
    </div>
  </div>
</div>
<p-table
  id="customerTable"
  #dt
  [columns]="cols"
  responsiveLayout="scroll"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [value]="exitData"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [responsive]="true"
  styleClass="p-datatable-striped"
  [globalFilterFields]="['employeeId', 'interviewerType', 'typeOfAssets','reasonForLeaving','resignation','anythingShare','createdAt','updatedAt','allAssets','noticePeriod']"
>
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center p-0">
        <div class="input-container">
          <img
            src="../../../assets/images/search-white.svg"
            class="input-container-img"
          />
          <input
            #search
            pInputText
            type="text"
            placeholder="Search..."
            (input)="applyFilterGlobal($event, 'contains')"
          />
        </div>
      </div>
      <div>
        <button
          pButton
          type="button"
          pTooltip="Pdf"
          class="custom-image"
          tooltipPosition="bottom"
          (click)="exportPdf()"
        >
          <img src="../../../../assets/images/pdf.svg" alt="Button Image" />
        </button>

        <button
          pButton
          type="button"
          pTooltip="Excel"
          class="custom-image"
          tooltipPosition="bottom"
          (click)="exportExcel()"
        >
          <img src="../../../../assets/images/excel.svg" alt="Button Image" />
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="flex justify-content-between align-items-center head1">
          S.No.
        </div>
      </th>

      <th pSortableColumn="emoloyeeId">
        <div class="flex justify-content-between align-items-center head1">
          Employee ID
          <p-sortIcon field="emoloyeeId"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="interviewerType">
        <div class="flex justify-content-between align-items-center head1">
          Interviewer Type
          <p-sortIcon field="interviewerType"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="separationDate">
        <div class="flex justify-content-between align-items-center head1">
          Sepration date
          <p-sortIcon field="separationDate"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="reasonForLeaving">
        <div class="flex justify-content-between align-items-center head1">
          Reason of Leaving
          <p-sortIcon field="reasonForLeaving"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="workWithOrganisationAgain">
        <div class="flex justify-content-between align-items-center head1">
          Work with this organisation again
          <p-sortIcon field="workWithOrganisationAgain"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="mostTheCompany">
        <div class="flex justify-content-between align-items-center head1">
          What do you like the most of the organization
          <p-sortIcon field="mostTheCompany"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="anythingShare">
        <div class="flex justify-content-between align-items-center head1">
          Anything you want to share with us
          <p-sortIcon field="anythingShare"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="resignation">
        <div class="flex justify-content-between align-items-center head1">
          Resignation Letter Submitted
          <p-sortIcon field="resignation"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="allAssets">
        <div class="flex justify-content-between align-items-center head1">
          All Assets Submitted
          <p-sortIcon field="allAssets"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="noticePeriod">
        <div class="flex justify-content-between align-items-center head1">
          Notice Peroid Followed
          <p-sortIcon field="noticePeriod"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="manager">
        <div class="flex justify-content-between align-items-center head1">
         Manager/Supervior Clearance
          <p-sortIcon field="manager"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="addedBy">
        <div class="flex justify-content-between align-items-center head1">
          Added By
          <p-sortIcon field="addedBy"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="createdAt">
        <div class="flex justify-content-between align-items-center head1">
          Added Time
          <p-sortIcon field="createdAt"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="modifiedBy">
        <div class="flex justify-content-between align-items-center head1">
          Modified By
          <p-sortIcon field="modifiedBy"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="updatedAt">
        <div class="flex justify-content-between align-items-center head1">
          Modified Time
          <p-sortIcon field="updatedAt"></p-sortIcon>
        </div>
      </th>

      <th class="text-center">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-list let-i="rowIndex">
    <tr>
      <td>
        <span class="p-column-title">Sr.no</span>
        {{ i + 1 }}
      </td>
      <td>{{ list.emoloyeeId }}</td>
      <td>{{ list.interviewerType }}</td>
      <td>{{ list.createdAt | date : "MM/dd/yyyy" }}</td>
      <td>{{ list.reasonForLeaving }}</td>
      <td>{{ list.workWithOrganisationAgain  }}</td>
      <td>{{ list.mostTheCompany }}</td>
      <td>{{ list.anythingShare}}</td>
      <td>{{ list.resignation }}</td>
      <td>{{ list.allAssets }}</td>
      <td>{{ list.noticePeriod }}</td>
      <td>{{ list.manager }}</td>
      <td>{{ list.addedBy }}</td>
      <td>{{ list.createdAt | date : "MM/dd/yyyy"  }}</td>
      <td>{{ list.modifiedBy }}</td>
      <td>{{ list.updatedAt | date : "MM/dd/yyyy"  }}</td>


      <td>
        <div style="display: flex; align-items: center;">
        <a
          pTooltip="Edit Exit"
          tooltipPosition="bottom"
          style="margin-right: 15px; cursor: pointer"
        >
          <img
            src="../../../../assets/images/edit.svg"
            [routerLink]="['/exitmgmt/edit-exit']"
            [queryParams]="{ id: list._id }"
            alt="img"
          />
        </a>
        <a
          pTooltip="Delete Exit"
          tooltipPosition="bottom"
          (click)="openDialog(list)"
          class="me-3 confirm-text"
          href="javascript:void(0);"
        >
          <img src="../../../../assets/images/delete.svg" alt="img" />
        </a>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="12" class="text-danger">No records to show</td>
    </tr>
  </ng-template>
</p-table>
